.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 0px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 5px;
  margin-bottom: 20px;
}
.masthead-brand a {
  padding-bottom: 19px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #111; /* IE8 proofing */
  color: rgba(5,5,5,.75);
  border-bottom: 3px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #111;
  border-bottom-color: rgba(5,5,5,.75);
}
.masthead-nav > .active > a {
  /*color: #da9e0b;*/
  border-bottom-color: #f3b314;
}
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #5f5f25;
  border-bottom-color: #5f5f25;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

#foot {
  /*color: #fff;*/
  background-color: #f9f7f1;
  padding-top: 2.5em;
  padding-bottom: 6em;
  margin-top: 3em;
  margin-bottom: -1.25em;
  letter-spacing: 1px;
}
#foot-content {
  opacity: .7;
}
#foot h6 {
  font-weight: 200;
}
/*#foot a {
  color: #fff;
}*/
#foot a:hover {
  opacity: .75;
}
#foot h6.social {
  margin-top: 2em;
}
#foot h6.social a {
  padding-right: 1em;
}
#foot h6.social a:nth-last-child(1) {
  padding-right: 0em;
}




