.jumbotron img {
	max-width: 100%;
	margin-bottom: 2px;
}

h1 {
	line-height: 1.125;
}

#portfolio h3 {
	font-weight: 500;
	max-width: 32em;
}

#portfolio h4 {
	margin-bottom: 1.5em;
}

#portfolio .meta-entry {
	margin-bottom: 1em;
}

#portfolio .meta-entry h5 {
	color: #777;
	font-weight: 500;
}

#portfolio p {
	margin-top: 1.375em;
}

#portfolio img .thumb-shadow {
	filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.1)) drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.09));
	border-radius: 20px;
}

#portfolio img,
#portfolio video {
	max-width: 100%;
	height: auto;
	margin-top: 20px;
}

#portfolio img:last-child,
#portfolio video:last-child {
	margin-bottom: 20px;
}

.collab ul {
	display: block;
	list-style-type: none;
	-webkit-margin-before: 1.5em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

.collab ul li {
	line-height: 1em;
	margin: .75em 0 .5em;
}

.collab ul li small {
	color: #777;
	text-transform: uppercase;
	letter-spacing: .5px;
	font-size: 60%;
}

#portfolio .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
#portfolio .videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
