#resume {
	margin-top: 80px;
}

.resume-entry {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.resume-entry:last-child {
	border-bottom: none;
}

.resume-section {
	margin-bottom: 40px;
}

.resume-section h2 {
	margin-top: 0px;
}

@media screen and (max-width: 767px) {
	.resume-entry {
		margin-bottom: 20px;
		padding-bottom: 100px;
		border-bottom: 1px solid #eee;
	}
	.resume-section h2 {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #eee;
	}
}