---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>

  <body>

    {% include header.html %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-image:url('./img/3dmc-22/30dmc-hero-web.jpg');height: 360px; background-size: cover;background-position: right; ">
    </div>

    <div id="portfolio" class="container">

    	<div class="row">
    		<div class="col-sm-5 col-md-4">
	      		<div class="row">
					<div class="col-xs-12 col-sm-12">
						<h1>#30DayMapChallenge (2022)</h1>
						<h4>The future of mobility starts at the curb</h4>
					</div>
		  			<div class="col-xs-4 meta-entry">
		  				<h6>Project Date</h6>
		  				<h5>2022</h5>
		  			</div>
		  			<div class="col-xs-8 meta-entry">
		    			<h6>Tools Used</h6>
		    			<h5>UrbanFootprint, QGIS, OpenStreetMap, Aerialod, Blender, Figma, Photoshop, Illustrator</h5>
		  			</div>
		            <!--<div class="col-xs-12 meta-entry">
		                <h6>See the work</h6>
		                <h5><a href="https://coord.co/curbs" target="_blank">Checkout Coord's Curb Explorer</a> <span class="glyphicon glyphicon-link"></span></h5>
		                <h5><a href="https://medium.com/coord/the-future-of-mobility-starts-at-the-curb-8b83cdb8d173" target="_blank">Read more about building the Curbs API</a> <span class="glyphicon glyphicon-link"></span></h5>
		            </div>-->
	          	</div>
        	</div>

	        <!-- Add the extra clearfix for only the required viewport -->
			<div class="clearfix visible-xs-block"></div>

			<div class="col-sm-7 col-md-8">
	        	<h3>30 maps of Madison WI following the prompts provided by @tjukanov, known as the <a href="https://twitter.com/search?q=%2330DayMapChallenge&src=hashtag_click" target="_blank">#30DayMapChallenge</a> on Twitter.</h3>
	    	</div>
		</div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
		<hr id="portal">

		<div class="row">
			<div class="col-sm-4 col-md-3">
				<h6>Day 1</h6>
				<h2>Points</h2>
                <h5><a href="https://twitter.com/oh_sk/status/1587429031347093504?s=20&t=Rf2EJcYkZcPAH_D7fpH2DA" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
				<p>Pulled the street tree dataset from @CityofMadison and categorized each species by fall foliage color.</p>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/3dmc-22/Day-1-Tree-Colors-Isthmus.jpg" />
			</div>
		</div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
		<hr>

		<div class="row">
			<div class="col-sm-4 col-md-3">
				<h6>Day 2</h6>
				<h2>Lines</h2>
                <h5><a href="https://twitter.com/oh_sk/status/1587785525544587265?s=20&t=Rf2EJcYkZcPAH_D7fpH2DA" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
				<p>A quick map using @CityofMadison sidewalk and bike path data to visually mask over the road network. Shows areas with less walking infrastructure.</p>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/3dmc-22/Day-1-Tree-Colors-Isthmus.jpg" />
			</div>
		</div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
		<hr>

		<div class="row">
			<div class="col-sm-4 col-md-3">
				<h6>Day 2</h6>
				<h2>Lines</h2>
                <h5><a href="https://twitter.com/oh_sk/status/1587785525544587265?s=20&t=Rf2EJcYkZcPAH_D7fpH2DA" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
				<p>A quick map using @CityofMadison sidewalk and bike path data to visually mask over the road network. Shows areas with less walking infrastructure.</p>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/3dmc-22/Day-1-Tree-Colors-Isthmus.jpg" />
			</div>
        </div>
        
		<div class="clearfix visible-md-block visible-lg-block"></div>
		<hr>

		<div class="row">
			<div class="col-sm-4 col-md-3">
				<h6>Day 3</h6>
				<h2>Polygons</h2>
                <h5><a href="https://twitter.com/oh_sk/status/1588182191875715072?s=20&t=Rf2EJcYkZcPAH_D7fpH2DA" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
                <p>Wanted to see where #MissingMiddle housing types and density already exists in Madison. First filtered land use data from UrbanFootprint down to parcels w/ townhomes or that had 2-4 dwelling units. Then filtered out parcels that didn’t fall between 16-30 DUs/acres.</p>
                <p>Important to note I didn’t do any assessment of actual housing affordability here. Not trying to imply that this existing housing stock shown solves for affordability or availability in Madison. I was mostly curious to see which areas already contained these housing types + density from a morphological perspective. There seems to be some concentration in Vilas, W Wash, along E Johnson, south of Willy St. And quite a spread around Atwood.</p>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/3dmc-22/Day-1-Tree-Colors-Isthmus.jpg" />
			</div>
		</div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
		<hr>

	</div> <!-- /container -->

	{% include footer.html %}

	</body>
</html>