---
---

<!DOCTYPE html>
<html lang="en">
	<head>
        {% include head.html %}
        <style>
            @media (max-width: 768px) { h1 {font-size: 28px !important;} }
            #portfolio h2 {margin-bottom: 0 !important;}
            #portfolio h4 {margin-bottom: 0 !important;}
        </style>
	</head>

  <body>

    {% include header.html %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-image:url('./img/3dmc-22/30dmc-hero-web.jpg');height: 360px; background-size: cover;background-position: right; ">
    </div>

    <div id="portfolio" class="container">

    	<div class="row">
    		<div class="col-md-5">
	      		<div class="row">
					<div class="col-xs-12 col-sm-12">
						<h1>#30DayMapChallenge</h1>
					</div>
		  			<div class="col-xs-3 meta-entry">
		  				<h6>Project Date</h6>
		  				<h5>2022</h5>
		  			</div>
		  			<div class="col-xs-9 meta-entry">
		    			<h6>Tools Used</h6>
		    			<h5>UrbanFootprint, QGIS, OpenStreetMap, Aerialod, Blender, Figma, Photoshop, Illustrator</h5>
		  			</div>
		            <!--<div class="col-xs-12 meta-entry">
		                <h6>See the work</h6>
		                <h5><a href="https://coord.co/curbs" target="_blank">Checkout Coord's Curb Explorer</a> <span class="glyphicon glyphicon-link"></span></h5>
		                <h5><a href="https://medium.com/coord/the-future-of-mobility-starts-at-the-curb-8b83cdb8d173" target="_blank">Read more about building the Curbs API</a> <span class="glyphicon glyphicon-link"></span></h5>
		            </div>-->
	          	</div>
        	</div>

	        <!-- Add the extra clearfix for only the required viewport -->
			<div class="clearfix visible-xs-block"></div>

			<div class="col-md-7">
	        	<h3>A cartographic series exploring Madison WI (and Dane County), following the 30 prompts for the month of November provided by @tjukanov, known as the <a href="https://twitter.com/search?q=%2330DayMapChallenge&src=hashtag_click" target="_blank">#30DayMapChallenge</a> on Twitter.</h3>
	    	</div>
		</div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
		<hr id="portal">

		<div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 1</h4>
				<h2>Points</h2>
				<p>Pulled the street tree dataset from @CityofMadison and categorized each species by fall foliage color.</p>
                <h5><a href="https://twitter.com/oh_sk/status/1587429031347093504?s=20&t=Rf2EJcYkZcPAH_D7fpH2DA" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/3dmc-22/Day-1-Tree-Colors-Isthmus.jpg" />
			</div>
		</div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
		<hr>

		<div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 2</h4>
				<h2>Lines</h2>
				<p>A quick map using @CityofMadison sidewalk and bike path data to visually mask over the road network. Shows areas with less walking infrastructure.</p>
                <h5><a href="https://twitter.com/oh_sk/status/1587785525544587265?s=20&t=Rf2EJcYkZcPAH_D7fpH2DA" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/3dmc-22/Day-2-Sidewalk-Ends-Citywide.jpg" />
			</div>
		</div>
        
		<div class="clearfix visible-md-block visible-lg-block"></div>
		<hr>

		<div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 3</h4>
				<h2>Polygons</h2>
                <p>Wanted to see where #MissingMiddle housing types and density already exists in Madison. First filtered land use data from UrbanFootprint down to parcels w/ townhomes or that had 2-4 dwelling units. Then filtered out parcels that didn’t fall between 16-30 DUs/acres.</p>
                <p>I was mostly curious to see which areas already contained these housing types + density from a morphological perspective. There seems to be some concentration in Vilas, W Wash, along E Johnson, south of Willy St. And quite a spread around Atwood.</p>
                <h5><a href="https://twitter.com/oh_sk/status/1588182191875715072?s=20&t=Rf2EJcYkZcPAH_D7fpH2DA" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/3dmc-22/Day-3-Missing-Middle-Housing-Isthmus.jpg" />
			</div>
		</div>

        <div class="clearfix visible-md-block visible-lg-block"></div>
		<hr>

		<div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 4</h4>
				<h2>Green</h2>
				<p>Before the Ho-Chunk Nation was displaced and the area was proposed as the state capital, what was the landscape like? Data from @WDNR @UWMadison indicates oak forest w/ prairie + marsh, as surveyed mid-1800s.</p>
                <h5><a href="https://twitter.com/oh_sk/status/1588543448868847618?s=20&t=Rf2EJcYkZcPAH_D7fpH2DA" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/3dmc-22/Day-4-Original-Vegetation-Dane-County.jpg" />
			</div>
        </div>

        <div class="clearfix visible-md-block visible-lg-block"></div>
		<hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 5</h4>
				<h2>Ukraine</h2>
				<p>Last April, @WisBrewingCo hosted a fundraiser featuring 5 Ukrainian beers made by Madison breweries! $30k raised in relief funds—grab your next 🍻at @GrumpyTrollBrew @greatdanepub @GiantJonesBeer @WorkingDraftBC @vintagebrewer</p>
                <h5><a href="https://twitter.com/oh_sk/status/1588915495885209602?s=20&t=Rf2EJcYkZcPAH_D7fpH2DA" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/3dmc-22/Day-5-Brews-for-Ukraine.jpg" />
			</div>
        </div>

        <div class="clearfix visible-md-block visible-lg-block"></div>
		<hr>

		<div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 6</h4>
				<h2>Network</h2>
                <p>Used power lines from @openstreetmap to create a fictional #transit network for squirrel commuting throughout the greater Madison WI area. 🐿</p>
                <h5><a href="https://twitter.com/oh_sk/status/1589265525238300676?s=20&t=Rf2EJcYkZcPAH_D7fpH2DA" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/3dmc-22/Day-6-Squirrel-Rapid-Transit.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
		<hr>

         <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 7</h4>
				<h2>Raster</h2>
                <p>Overlayed new buildings by decade built to animate the transformation of farmland to city. Aerial image from 1937 @UWDigiCollec. Building footprints and parcel reference data from @UFPlatform.</p>
                <h5><a href="https://twitter.com/oh_sk/status/1589624618893344769?s=20&t=Rf2EJcYkZcPAH_D7fpH2DA" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-9">
                <video controls="" autoplay="" loop="" muted="" width="100%">
					<source src="./img/3dmc-22/madison-development-1600w.mp4">
					<img src="./img/3dmc-22/Day-7-madison-development-1970s.jpg" title="Your browser does not support the <video> tag">
				</video>
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 8</h4>
				<h2>OSM</h2>
                <p>Madison has more effigy mounds than any other city in the US, made by the Ho-Chunk Nation. But I only found 24 on @openstreetmap — should we organize a Madison mapathon to add more?</p>
                <h5><a href="https://twitter.com/oh_sk/status/1593632291548327937" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-8 col-lg-7">
				<img src="./img/3dmc-22/Day-8-osm-effigy-mounds.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 9</h4>
				<h2>Space</h2>
                <p>You can bike a scaled model of our solar system from @MononaTerrace to Mt Horeb—about 23 mi representing the 5.9B km from the 🌞 to Pluto! Planet Trek Dane County by  @UWSpacePlace</p>
                <h5><a href="https://twitter.com/oh_sk/status/1590372884727599105" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/3dmc-22/Day-9-Planet-Trek.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 10</h4>
				<h2>A Bad Map</h2>
                <p>I give this map an "F" for...<br/>❌ Fake data<br/>❌ Failing red-green color blind accessibility<br/>❌ Football...not a huge fan (sorry, Wisconsin!)</p>
                <h5><a href="https://twitter.com/oh_sk/status/1590736909764296704" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/3dmc-22/Day-10-bad-map-badger-packer-fans.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 11</h4>
				<h2>Red</h2>
                <p>Denial rates for home loans in 2018/19 by census tract, with HOLC redlined areas (Grade C + D) from 1937 outlined as an overlay. #HMDA data from @CFPB. Mapped with @qgis @UFPlatform.</p>
                <h5><a href="https://twitter.com/oh_sk/status/1591104974087680000" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-8 col-lg-7">
				<img src="./img/3dmc-22/Day-11-redlining-denial-rates-tall.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 12</h4>
				<h2>Scale</h2>
                <p>Counties I've lived in to scale with the county I currently live in. With each of my home locations coincident with the image centerpoint.</p>
                <h5><a href="https://twitter.com/oh_sk/status/1591450105332523009" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/3dmc-22/Day-12-county-scale-animation-2.gif" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 13</h4>
				<h2>5 Minute Map</h2>
                <p>Quickly mapped streetlights from @CityofMadison data portal, added a quick glow in @UFPlatform on a dark basemap, and played with some opacity effects in Figma. ⏲</p>
                <h5><a href="https://twitter.com/oh_sk/status/1591805956169797634" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/3dmc-22/Day-13-Night-Lights-Isthmus.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 14</h4>
				<h2>Hexagons</h2>
                <p>Hexbin map made in QGIS with resident + job estimates based on @UFPlatform’s land use data.</p>
                <h5><a href="https://twitter.com/oh_sk/status/1592183711910760450" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-8 col-lg-7">
				<img src="./img/3dmc-22/Day-14-hex-pop-emp.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 15</h4>
				<h2>Food</h2>
                <p>Mapped with @UFPlatform, showing just parcels with agricultural land use. 🌽</p>
                <h5><a href="https://twitter.com/oh_sk/status/1592548443217887233" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-8 col-lg-7">
				<img src="./img/3dmc-22/Day-15-farmers-markets-vert.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 16</h4>
				<h2>Minimal</h2>
                <p>Blanketed in snow, the five lakes frozen over. Illustrated in @figma.</p>
                <h5><a href="https://twitter.com/oh_sk/status/1592910857520177153" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-8 col-lg-7">
				<img src="./img/3dmc-22/Day-16-minimal-map.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 17</h4>
				<h2>Map w/o a Computer</h2>
                <p>What defines our neighborhood? Asked neighbors which features are the boundaries of our Madison neighborhood. Cut their answers out of colored vellum & overlaid those on a drawing of the boundaries to show overlapping areas.</p>
                <h5><a href="https://twitter.com/oh_sk/status/1593278641273638912" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-8 col-lg-7">
				<img src="./img/3dmc-22/Day-17-no-comp-map-A.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 18</h4>
				<h2>Blue</h2>
                <p>Walk + run + bike access sheds to @CityofMadison's 108 polling locations. Calculated by @UFPlatform walk access module. Well, get there however you can! GO VOTE, Wisconsin!</p>
                <h5><a href="https://twitter.com/oh_sk/status/1590002803292123137" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/3dmc-22/Day-18-OSM-walk-to-polls.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-2">
				<h4>Day 19</h4>
				<h2>Globe</h2>
                <p>Madison and its 50 closest neighbors, in terms of latitude (43.0722° N).</p>
                <h5><a href="https://api.mapbox.com/styles/v1/stephenkennedy/claecbkn4007j15o7riiw6owe.html?title=view&access_token=pk.eyJ1Ijoic3RlcGhlbmtlbm5lZHkiLCJhIjoidjE2aTktdyJ9.gpYsw_JQAEuHlK5rAq0rsw&zoomwheel=true&fresh=true#3/43.16/-80.92" target="_blank">See the interactive map</a> <span class="glyphicon glyphicon-link"></span></h5>
                <h5><a href="https://twitter.com/oh_sk/status/1593999270210072583" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
            </div>
            <!--<div class="col-sm-8 col-md-9">
                <iframe src="https://t.co/QEnP6hifbc" style="border:none;" height="300px" width="100%" title="Spinning globe map showing all major cities/towns at the same latitude of 43.0722 N"></iframe>
			</div>-->
			<div class="col-sm-4 col-md-5">
				<img src="./img/3dmc-22/Day-19-latitudinal-neighbors-US.jpg" />
			</div>
			<div class="col-sm-4 col-md-5">
				<img src="./img/3dmc-22/Day-19-latitudinal-neighbors-asia.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 20</h4>
				<h2>My favorite…</h2>
                <p>Only map so far that predates the challenge—this one was from our wedding last October. A map to share our favorite spots in our new hometown with all our visitors! 🍁</p>
                <h5><a href="https://twitter.com/oh_sk/status/1594347054989385734" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/3dmc-22/Day-20-madison-favorites.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 21</h4>
				<h2>Kontur Population</h2>
                <p>Decided to add a comparative layer to make it a bit more interesting than just pop! Pulled raster crop coverage data via CropScape.</p>
                <h5><a href="https://twitter.com/oh_sk/status/1594745305953550336" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-8 col-lg-7">
				<img src="./img/3dmc-22/Day-21-kontur-population.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 22</h4>
				<h2>NULL</h2>
                <p>Frank Lloyd Wright designed a total of 33 buildings for his hometown of Madison WI between 1893-1959. But nearly half went unbuilt (at least in the location of their original design). Based on 2017 article by @CapTimes</p>
                <h5><a href="https://twitter.com/oh_sk/status/1595093309273391106" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-8 col-lg-7">
				<img src="./img/3dmc-22/Day-22-null-frank-lloyd-wright.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 23</h4>
				<h2>Red</h2>
                <p>At which bike crossings will you encounter the most/least cars? Road segment counts from @CityofMadison as scaled symbols at intersections with primary bike paths.</p>
                <h5><a href="https://twitter.com/oh_sk/status/1595420257304412166" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/3dmc-22/Day-23-movement-bike-crossings.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 24</h4>
				<h2>Fantasy</h2>
                <p>Fantastical Rail Connections…but could an intercity @amtrak station in Madison WI linking to Milwaukee/Chicago & Minneapolis be a real thing?? 🙏</p>
                <h5><a href="https://twitter.com/oh_sk/status/1595795823190851585" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-8 col-lg-7">
				<img src="./img/3dmc-22/Day-24-fantasy-connections.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 25</h4>
				<h2>Two Colors</h2>
                <p>🔵 Madison WI areas where you can reach ALL of these in a 30* min round trip walk:<br/>☑️ School<br/>☑️ Grocery Store<br/>☑️ Hospital/Clinic<br/>☑️ Transit Stop<br/>☑️ Park<br/>🔴 >30 min walk to ALL</p>
                <h5><a href="https://twitter.com/oh_sk/status/1596222933000937472" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-8 col-lg-7">
				<img src="./img/3dmc-22/Day-25-two-colors-30-min-city.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 26</h4>
				<h2>Islands</h2>
                <p>What if, instead of a city surround by lakes, Madison was a chain of islands? Inverted lake bathymetry from @WiscLimnology and mapped using #aerialod.</p>
                <h5><a href="https://twitter.com/oh_sk/status/1596549623015170048" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-8 col-lg-7">
				<img src="./img/3dmc-22/Day-26-islands-lakes.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 27</h4>
				<h2>Music</h2>
                <p>Theaters, venues, concerts, etc, past and present along Madison's State Street corridor.</p>
                <h5><a href="https://twitter.com/oh_sk/status/1596915820952625152" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-8 col-lg-7">
				<img src="./img/3dmc-22/Day-27-sounds-of-state-street.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 28</h4>
				<h2>3D</h2>
                <p>Coming in at the last minute after a lot of wrestling with #blender3d (first time!). Employment estimates by category from @UFPlatform.</p>
                <h5><a href="https://twitter.com/oh_sk/status/1597461160307347457" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-8 col-lg-7">
				<img src="./img/3dmc-22/Day-28-3D-employment-densities.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 29</h4>
				<h2>Out of my comfort zone!</h2>
                <p>First time georeferencing a raster map from @wgnhs and overlaying it on a DEM created in #Blender3d.</p>
                <h5><a href="https://twitter.com/oh_sk/status/1597740209051172865" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/3dmc-22/Day-29-out-of-comfort-zone.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

        <div class="row">
			<div class="col-sm-4 col-md-3">
				<h4>Day 30</h4>
				<h2>Remix</h2>
                <p>Here’s an iteration of my Day 25 map showing places that could be 30 Minute Cities in Madison, but are missing 1 of the 5 qualifying categories. Using @UFPlatform walk analysis module.</p>
                <h5><a href="https://twitter.com/oh_sk/status/1597980418397319168" target="_blank">Tweet thread</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-8 col-md-8 col-lg-7">
				<img src="./img/3dmc-22/Day-30-two-colors-30-min-city-remix.jpg" />
			</div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

	</div> <!-- /container -->

	{% include footer.html %}

	</body>
</html>
