---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>

  <body>

    <div class="container">
		<div class="inner">
			<div class="masthead clearfix">
			    <h4 class="masthead-brand"><a href="./">Stephen James Kennedy</a></h4>
			    <ul class="nav masthead-nav">
			        <li><a href="./">Home</a></small></li>
			        <li><a href="resume.html">Resume</a></small></li>
			        <li><a href="mailto:stephenjameskennedy@gmail.com">Contact</a></small></li>
			    </ul>
			</div>
		</div>
	</div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="padding-top:0; padding-bottom:0;">
      <div class="container">
        <img src="./img/bronx-waterfront/main_00.jpg" alt="...">
      </div>
    </div>

    <div id="portfolio" class="container">

    	<div class="row">
    		<div class="col-sm-4 col-md-3">
    			<div class="col-xs-12 col-sm-12">
			        <h1>Bronx, Meet Your Waterfront Plan</h1>
			        <h4>Creating new public space &amp; a greenway for residents of the South Bronx</h4>
			    </div>
    			<div class="col-xs-4 col-sm-6 meta-entry">
    				<h6>Project Date</h6>
    				<h5>2011</h5>
    			</div>
          <div class="col-xs-4 col-sm-6 meta-entry">
            <h6>Location</h6>
            <h5>Bronx, NY</h5>
          </div>
    			<div class="clearfix visible-xs-block"></div>
          <div class="col-xs-6 col-sm-12  meta-entry">
	    			<h6>Studio</h6>
	    			<h5>Site &amp; Environmental Systems Planning</h5>
            <h5>Prof. Eran Ben-Joseph</h5>
    			</div>
    			<div class="col-xs-6 col-sm-12  meta-entry">
	    			<h6>In collaboration with</h6>
	    			<h5>Bronx Borough President’s Office</h5>
	    			<h5>NYC Department of City Planning</h5>
    			</div>
          <div class="col-xs-6 col-sm-12  meta-entry">
            <h6>Award</h6>
            <h5><a href="http://urbandesignweek.tumblr.com/" target="_blank" rel="noopener noreferrer">By the City/For the City</a>, Urban Design Week 2011</h5>
          </div>
	      </div>

	        <!-- Add the extra clearfix for only the required viewport -->
  			<div class="clearfix visible-xs-block"></div>

    		<div class="col-sm-8 col-md-9">
	          	<h3>The Bronx, Meet Your Waterfront Plan presents strategies that reconnect the river to its adjacent communities. After years of industrial use, pollution and heavy infrastructure along the Harlem River have rendered the 8-mile stretch of waterfront mostly inaccessible to the bronx community.</h3>
	          	<div class="row">
	          		<div class="col-md-6">
	          			<p>The City has already begun to bring attention to the Harlem River through the recently completed Mill Pond Park and upcoming renovation of the High Bridge. This project seeks to capitalize on these major investments by creating a Harlem River Greenway that connects the wide range of experiences of the Harlem River waterfront, from manicured to natural landscapes and from industrial to residential neighborhoods. The Greenway winds its way along the Harlem River through the Highbridge and Mott Haven neighborhoods.</p>
                  <p>The Site & Environmental Systems practicum is working in New York City in collaboration with the Bronx Borough President’s Office and the NYC Department of City Planning to develop a comprehensive and integrated waterfront access plan along the eastern banks of the Harlem River. The plan encompasses the reuse of former contaminated industrial sites, determining appropriate uses of these sites, connecting residential communities to the waterfront currently cut off, and creating community envisioning planning toolkit.</p>         		  
                </div>
	          		<div class="col-md-6">
	          			<img src="./img/bronx-waterfront/bronx_aerial_00.jpg" alt="...">
	          		</div>
                <div class="clearfix"></div><hr>
                <a class="btn btn-primary" href="http://issuu.com/bronx-studio/docs/bronx-waterfront-plan?e=2658733/9692306" target="_blank" rel="noopener noreferrer" role="button">See the project report</a>
                <div class="btn-group">
                  <a href="#transect" class="btn btn-default" role="button">Transect Studies</a>
                  <a href="#engagement" class="btn btn-default" role="button">Community Engagement</a>
                  <a href="#plan" class="btn btn-default" role="button">Master Plan</a>
                  <a href="#design" class="btn btn-default" role="button">Site Design</a>
                </div>   
	          	</div>
	        </div>
    	</div>
      	
      	<div class="clearfix"></div>
      	<hr id="transect">

    	<div class="row">
    		<div class="col-md-3">
	        <h2>Transect Studies</h2>
	        <h4>Transect studies of infrastructure and access around three key bridge interchanges on the Bronx Harlem River waterfront.</h4>
			  </div>
  			<div class="col-md-9">
  				<img src="./img/bronx-waterfront/bronx_transects-01.jpg" alt="...">
  			</div>
        <div class="clearfix"></div><hr>
        <div class="row">
          <div class="col-md-6">
            <img src="./img/bronx-waterfront/bronx_transects-02.jpg" alt="...">
          </div>
          <div class="col-md-6">
            <img src="./img/bronx-waterfront/bronx_transects-03.jpg" alt="...">
          </div>
        </div>          
    	</div>

        <div class="clearfix"></div>
        <hr id="engagement">

      <div class="row">
        <div class="col-sm-4 col-md-3">
          <h2>Community Engagement</h2>
          <h4>We were able to present our ideas on multiple occaisions to members of the Harlem River Working Group at the Highbridge Community Life Center.</h4>
          <p>Residents gave feedback on the proposals and did a mental mapping exercise with us.</p>
          <h4>In May of 2011, we presented final proposals to a room full of interested community members at the Bronx Borough Courthouse &amp; the NYC Department of City Planning.</h4>
        </div>
        <div class="col-sm-8 col-md-9">
          <img src="./img/bronx-waterfront/bronx_community-01.jpg" alt="...">
          <div class="row">
            <div class="col-xs-6">
              <img src="./img/bronx-waterfront/bronx_community-03.jpg" alt="...">
            </div>
            <div class="col-xs-6">
              <img src="./img/bronx-waterfront/bronx_community-04.jpg" alt="...">
            </div>
          </div>
          <img src="./img/bronx-waterfront/bronx_community-05.jpg" alt="...">
        </div>
      </div>

        <div class="clearfix"></div>
        <hr id="plan">

      <div class="row">
        <div class="col-md-3">
          <h2>Master Plan</h2>
          <h4>Our masterplan for the Harlem River Greenway presents a vision for how the four overarching themes – eco-puncture, temporary activation, waterfront access, and infrastructure adaptation – might be integrated into specific contexts along the waterfront.</h4>
          <p>Through targeted investments in particular locations, the Bronx will see an expansion of and compliment to the existing open spaces and activity centers along the Harlem River in the Bronx.</p>
          <div class="row">
            <div class="col-sm-6 col-md-12">
              <hr>
              <img src="./img/bronx-waterfront/bronx_master-plan_key.png" alt="...">
              <hr>
            </div>
            <div class="col-sm-6 col-md-12">
              <p>A non-traditional waterfront greenway with new off-street pedestrian paths and improved streetscapes will connect the waterfront to inland destinations and to the surrounding neighborhoods. This series of connected but diverse waterfront spaces responds to and celebrates the infrastructure, culture, and history of the area, and provides a unique waterfront experience for neighborhood residents and visitors alike.</p>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <img src="./img/bronx-waterfront/bronx_master-plan_00.jpg" alt="...">
        </div>
      </div>

        <div class="clearfix"></div>
        <hr id="design">

      <div class="row">
        <div class="col-sm-4 col-md-3">
          <h2>Site Design for the High Bridge</h2>
          <h4>The High Bridge, New York City’s oldest surviving bridge, is set to reopen to pedestrians in 2013. This is an opportunity to make stronger connections to the water’s edge.</h4>
          <p>Already there are plans developing to reconstruct the crumbling High Bridge Staircase and to develop a waterfront promenade. Our proposals use these developments as a catalyst to create a Harlem River Greenway between Roberto Clemente State Park and Macombs Dam Bridge and to strengthen upland connections to the Highbridge residential neighborhood.</p>
        </div>
        <div class="col-sm-8 col-md-9">
          <img src="./img/bronx-waterfront/bronx_design_00.jpg" alt="...">
          <img src="./img/bronx-waterfront/bronx_master-plan_01-HB.jpg" alt="...">
        </div>
      </div><div class="clearfix"></div>
      <div class="row">
        <div class="col-sm-4 col-md-3">
          <h4>Pedestrians who reach the bottom of the High Bridge stairs are currently greeted by spaces in habited by fast-moving traffic at all hours of the day. Proposed changes will make this area a more appropriate entrance to a water front park.</h4>
          <p>The proposed gateway at 170th Street will extend the visibility of the High Bridge to visitors coming from the Grand Concourse or subway stations.</p>
          <p>A dramatic elevation change separates the High Bridge entrance from the waterfront. Inviting and clearly marked paths will make this transition easier to navigate.</p>
        </div>
        <div class="col-sm-8 col-md-9">
          <img src="./img/bronx-waterfront/bronx_design_01.jpg" alt="...">
        </div>
        <div class="col-xs-12">
          <img src="./img/bronx-waterfront/bronx_design_02b.jpg" alt="...">
        </div>
        <div class="row">
          <div class="col-sm-6">
            <img src="./img/bronx-waterfront/bronx_implementation-plan_01.jpg" alt="...">
          </div>
          <div class="col-sm-6">
            <img src="./img/bronx-waterfront/bronx_implementation-plan_02.jpg" alt="...">
          </div>
        </div>  
      </div>

		<div class="clearfix"></div>
      	<hr>

		</div> <!-- /container -->

	{% include footer.html %}

	</body>
</html>
