---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>

  <body>

    <div class="container">
		<div class="inner">
			<div class="masthead clearfix">
			    <h4 class="masthead-brand"><a href="./">Stephen James Kennedy</a></h4>
			    <ul class="nav masthead-nav">
			        <li><a href="./">Home</a></small></li>
			        <li><a href="resume.html">Resume</a></small></li>
			        <li><a href="mailto:stephenjameskennedy@gmail.com">Contact</a></small></li>
			    </ul>
			</div>
		</div>
	</div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-color:#f0eee8; padding-top:0; padding-bottom:0;">
      <div class="container">
        <img src="./img/fair-lending/fl_interface_02.png" alt="...">
      </div>
    </div>

    <div id="portfolio" class="container">

    	<div class="row">
    		<div class="col-sm-4 col-md-3">
      		<div class="row">
          	<div class="col-xs-12 col-sm-12">
    		        <h1>Fair Lending: Redline Mapping</h1>
    		        <h4>Visualizing HMDA data to investigate instances of lending descrimination</h4>
    		    </div>
      			<div class="col-xs-4 col-sm-6 meta-entry">
      				<h6>Project Date</h6>
      				<h5>2014 - 2015</h5>
      			</div>
            <div class="col-xs-4 col-sm-6 meta-entry">
              <h6>Organization</h6>
              <h5>CFPB</h5>
            </div>
      			<div class="col-xs-12 meta-entry">
        			<h6>Project Team</h6>
        			<h5>CFPB T&amp;I Design &amp; Development</h5>
      			</div>
          </div>
        </div>

	        <!-- Add the extra clearfix for only the required viewport -->
  			<div class="clearfix visible-xs-block"></div>

    		<div class="col-sm-8 col-md-9">
          	<h3>The CFPB is developing a comprehensive mapping tool that allows examiners to assess descriminatory patterns in institutional lending policies that lead to disparate impact, a practice historically known as redlining.</h3>
          	<div class="row">
              <div class="col-md-6">
          			<p>The concept of redlining stems from a practice of banks drawing "red lines" around specific urban neighborhoods, effectively outlining where they were unwilling to provide mortgages to residents. The Fair Housing Act, enacted in 1968, oulawed the refusal to sell or rent a dwelling to any group based on race, national origin, color, religion, sex, familial status, or disability when there is no legitimate, non-discriminatory business need for the policy.</p>
              </div>
              <div class="col-md-6">
                <p><a href="http://www.consumerfinance.gov/hmda/" target="_blank">The Home Mortgage Disclosure Act</a> (HMDA) now requires financial institutions to maintain, report, and publicly disclose information about mortgages. By mapping this data, Bureau employees can investigate potential redlining violations by comparing institutional lending patterns to a city's socio-economic distribution.</p>
              </div>
          	</div>
            <div class="btn-group">
                <a href="#research" class="btn btn-default" role="button">Visualization Research</a>
                <a href="#mapping" class="btn btn-default" role="button">Map Design</a>
                <a href="#data" class="btn btn-default" role="button">Comparative Mapping</a>
                <a href="#testing" class="btn btn-default" role="button">Hypothesis Testing</a>
            </div>
	       </div>
    	</div>  	

        <div class="clearfix"></div>
        <hr id="research">

      <div class="row">
        <div class="col-sm-4 col-md-3">
            <h2>Visualization Research</h2>
            <h4>Exploring representational approaches that improve the legibility of redline maps.</h4>
        </div>
        <div class="col-sm-8 col-md-9">
          <div class="row">
            <div class="col-md-3">
              <h3>Complex color ramps</h3>
              <p>Diagrams exploring the potential of combining increasing intensity and multiple hues to show high/medium/low minority area buckets</p>
            </div>
            <div class="col-md-9">
              <img src="./img/fair-lending/fl_research_02.png" alt="...">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-3">
              <h3>Multivariate color ramps</h3>
              <p>Diagram to illustrate the use of a multi-directional color ramp that combines the conditions of minority percentage and loan counts</p>
            </div>
            <div class="col-md-9">
              <img src="./img/fair-lending/fl_research_00.png" alt="...">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-3">
              <h3>Dot Density vs. Scaled Circles</h3>
              <p>Diagram to compare aggregated circles to dots for representing loan records</p>
            </div>
            <div class="col-md-9">
              <img src="./img/fair-lending/fl_research_04.gif" alt="...">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-3">
              <h3>Legible circle scaling</h3>
              <p>Diagram to illustrate the conceptual impact of setting the mid-point circle size within a given MSA by calculating the median value LAR count at tract level</p>
            </div>
            <div class="col-md-9">
              <img src="./img/fair-lending/fl_research_01.png" alt="...">
            </div>
          </div>
        </div>  
      </div>

        <div class="clearfix"></div>
        <hr id="mapping">

      <div class="row">
        <div class="col-sm-4 col-md-3">
            <h2>Map design</h2>
            <h4>Key cartography decisions were demonstrated using tools like Tilemill &amp; QGIS.</h4>
        </div>
        <div class="col-sm-8 col-md-9">
          <img src="./img/fair-lending/fl_mapping_01.jpg" alt="...">
          <!-- <hr>
          <div class="row">
            <div class="col-md-4">
              <h3>Shoreline clipping</h3>
              <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-md-8">
              <img src="./img/fair-lending/fl_research_03.gif" alt="...">
            </div>
          </div> -->
        </div>
      </div>

        <div class="clearfix"></div>
        <hr id="data">

      <div class="row">
        <div class="col-sm-4 col-md-3">
            <h2>Comparative Mapping</h2>
            <h4>Statistical methods allow users to compare the actions of a lender to similar peer lenders in a given market.</h4>
            <p>This allows them to assess if a lender's actions resemble the general patterns shown.</p>
        </div>
        <div class="col-sm-8 col-md-9">
          <!-- <img src="./img/fair-lending/fl_data_02.gif" alt="..."> -->
          <img src="./img/fair-lending/fl_data_02a.jpg" alt="...">
          <img src="./img/fair-lending/fl_data_02b.jpg" alt="...">
        </div>
      </div>

        <div class="clearfix"></div>
        <hr id="testing">

      <div class="row">
        <div class="col-sm-4 col-md-3">
            <h2>Hypothesis Testing</h2>
            <h4>Hypothesis testing helps inform key decisions for the tool's information display.</h4>
            <p>Variations on map design are shared with the Bureau's examiners to determine effective approaches for identifying potential redlining violations.</p>
        </div>
        <div class="col-sm-8 col-md-9">
          <div class="row">
            <div class="col-md-6">
              <img src="./img/fair-lending/fl_hypothesis_01a.png" alt="...">
            </div>
            <div class="col-md-6">
              <img src="./img/fair-lending/fl_hypothesis_01b.png" alt="...">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <img src="./img/fair-lending/fl_hypothesis_03b.png" alt="...">
            </div>
            <div class="col-md-6">
              <img src="./img/fair-lending/fl_hypothesis_03c.png" alt="...">
            </div>
          </div>
        </div>
      </div>

	    <div class="clearfix"></div>
    	<hr>

		</div> <!-- /container -->

	{% include footer.html %}

	</body>
</html>
