---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>

	<body>

		<div class="container">
		<div class="inner">
			<div class="masthead clearfix">
					<h4 class="masthead-brand"><a href="./">Stephen James Kennedy</a></h4>
					<ul class="nav masthead-nav">
							<li><a href="./">Home</a></small></li>
							<li><a href="resume.html">Resume</a></small></li>
							<li><a href="mailto:stephenjameskennedy@gmail.com">Contact</a></small></li>
					</ul>
			</div>
		</div>
	</div>

		<div class="jumbotron" style="background-color:#f8f8f8; padding-top:0; padding-bottom:0;">
			<div class="container">
				<img src="./img/cr-search/cr-search_interface_01.png" alt="...">
			</div>
		</div>

		<div id="portfolio" class="container">

			<div class="row">
				<div class="col-sm-4">
					<div class="row">
						<div class="col-xs-12 col-sm-12">
							<h1>Complaint Database Search Tool</h1>
							<h4>Helping CFPB employees stay connected to the issues and concerns of consumers</h4>
						</div>
						<div class="col-xs-6 meta-entry">
							<h6>Project Date</h6>
							<h5>2015 - on-going</h5>
						</div>
						<div class="col-xs-6 meta-entry">
							<h6>Organization</h6>
							<h5>CFPB</h5>
						</div>
						<div class="col-xs-12 col-sm-6 meta-entry">
							<h6>Project Team</h6>
							<h5>Seph Coster, Dev Mehta, Andrea Dinneen, Mingfeng Yang</h5>
						</div>
						<div class="col-xs-12 col-sm-6 meta-entry">
							<h6>Role</h6>
							<h5>UX &amp; Product Design, User Research</h5>
						</div>
					</div>
				</div>

					<!-- Add the extra clearfix for only the required viewport -->
				<div class="clearfix visible-xs-block"></div>

				<div class="col-sm-8">
					<h3>Since July 2011, the CFPB has taken in over 432,223 complaints, on a range of consumer financial products and services (<a href="./consumer-complaints.html">learn more about our complaint portal</a>). This process has helped consumers connect with financial companies to understand issues with their mortgages, fix errors on their credit reports, stop unlawful calls from debt collectors, and get direct responses about problems with their credit cards, bank accounts, or private student loans.</h3>
					<div class="row">
						<div class="col-md-6">
							<p>The CFPB also analyzes the data to identify trends and problems in the marketplace to help us do a better job supervising companies, enforcing federal consumer financial laws and writing rules and regulations. All departments at CFPB make requests for datasets from the Consumer Complaint Database to support these efforts.</p>
						</div>
						<div class="col-md-6">
							<p>In an effort to improve (1) the experience of culling complaints from the database and (2) achieving more accurate and useful results, we were tasked with building out a custom search interface for the database, employing elastic search capabilities.</p>
							<p><a class="btn btn-primary" href="https://www.consumerfinance.gov/data-research/consumer-complaints/" target="_blank" rel="noopener noreferrer" role="button">See the Public Database</a></p>
						</div>
					</div>
						<!-- <div class="btn-group">
								<a href="#application" class="btn btn-default" role="button">Application Design</a>
								<a href="#research" class="btn btn-default" role="button">Visualization Research</a>
								<a href="#mapping" class="btn btn-default" role="button">Map Design</a>
								<a href="#data" class="btn btn-default" role="button">Comparative Mapping</a>
								<a href="#testing" class="btn btn-default" role="button">Hypothesis Testing</a>
						</div> -->
				 </div>
			</div>		

				<div class="clearfix"></div>
				<hr id="data-requests">

			<div class="row">
				<div class="col-sm-4 col-md-3">
					<h2>Complaint volume</h2>
					<h4>We currently receive about 20,000 complaints monthly through our online, phone, and paper complaint forms.</h4>
					<p>Our database now consists of over 700,000 complaints submitted to over 3,000 companies. Our challenge is to develop tools that let the Bureau bring the voice of the consumer into examinations, outreach, and enriched analyses of the financial marketplace.</p>
				</div>
				<div class="col-sm-8 col-md-9">
					<img src="./img/cr-search/cr-search_complaints_01.svg" alt="...">
					<hr>
				</div>
				<div class="clearfix"></div>
				<div class="col-sm-4 col-md-3">
					<h2>Assessing current approaches</h2>
					<h4></h4>
					<p>We spent some time defining the anatomy of complaints and dissecting user stories to backup potential interface design features.</p>
					<p>We also interviewed analysts about their current processes to identify key pain points, such as only being able to export complaints by amending the URL in one of their current tools. Much of their current work is manual and time consuming, such as reading long complaint narratives in excel and copy-pasting them into word to do keyword highlighting.</p>
					<hr>
					<h4>"I have an exam coming up that will require complaint data"</h4>
					<h5>Supervision</h5>
					<hr>
					<h4>"I need to look at complaints over time to understand a market"</h4>
					<h5>Enforcement</h5>
					<hr>
					<h4>"I want to see if there are complaints on an issue we are researching"</h4>
					<h5>Consumer Engagement</h5>
				</div>
				<div class="col-sm-8 col-md-9">
					<img src="./img/cr-search/cr-search_complaints_03.jpg" alt="...">
					<img src="./img/cr-search/cr-search_journey-mapping2.jpg" alt="...">
					<hr>
				</div>
				<div class="clearfix"></div>
				<div class="col-sm-4 col-md-3">
					<h2>173 words</h2>
					<h5>Average complaint narrative length</h5>
					<hr>
					<h2>58 minutes</h2>
					<h5>Time required to read 100 complaints</h5>
					<hr>
					<h2>28 days</h2>
					<h5>Time required to read 700,000+ complaints</h5>
				</div>
				<div class="col-sm-8 col-md-9">
					<img src="./img/cr-search/cr-search_complaints_02.png" alt="...">
					<hr>
				</div>
				<div class="clearfix"></div>
				<!--<div class="col-sm-4 col-md-3">
					<h2>Data Requests</h2>
					<h4>Currently, the Consumer Response team receives hundreds of requests for complaint data from individuals throughout the CFPB on a rolling basis.</h4>
					<p>The diagram to the right shows the volume of all requests made between Nov '11 - May '15, 33% of which come from the 500+ examiners in the office of Supervision, Enforcement, &amp; Fair Lending.</p>
            		<p>By designing an open, internal search interface for the complaint database, we hope to alleviate the data request load that the Consumer Response intake team has to deal with on a regular basis.</p>
				</div>
				<div class="col-sm-8 col-md-9">
					<img src="./img/cr-search/cr-search_data-requests.png" alt="...">
				</div>-->
				<!-- <div class="clearfix"></div>
				<div class="col-sm-6 col-md-4">
					<h2>"I have an exam coming up that will require complaint data"</h2>
					<h5>Supervision</h5>
				</div>
				<div class="col-sm-6 col-md-4">
					<h2>"I need to look at complaints over time to understand a market"</h2>
					<h5>Enforcement</h5>
				</div>
				<div class="col-sm-6 col-md-4">
					<h2>"I want to see if there are complaints on an issue we are researching"</h2>
					<h5>Consumer Engagement</h5>
				</div> -->
			</div>

				<div class="clearfix"></div>
				<hr id="search-solution">

			<div class="row">
				<div class="col-md-3">
					<h2>Analytics System</h2>
					<p>The database search tool is part of an overall suite of analytics tools, including auto-classifying complaints using natural language processing.</p>
				</div>
				<div class="col-md-9">
					<img src="./img/cr-search/cr-search_solutions-overview.png" alt="...">
				</div>
			</div>

				<div class="clearfix"></div>
				<hr id="search-concept">

			<div class="row">
				<div class="col-sm-6 col-md-3">
					<h2>Search Modes</h2>
					<p>Investigatory vs. exploratory modes for searching the complaint database based on level of familiarity with the dataset.</p>
				</div>
				<div class="col-sm-6 col-md-3">
					<img src="./img/cr-search/IMG_7702.JPG" alt="...">
				</div>
				<div class="col-sm-6 col-md-3">
					<img src="./img/cr-search/IMG_7703.JPG" alt="...">
				</div>
				<div class="col-sm-6 col-md-3">
					<img src="./img/cr-search/IMG_7704.JPG" alt="...">
				</div>
			</div>

				<div class="clearfix"></div>
				<hr id="initial-search">

			<div class="row">
				<div class="col-sm-4">
					<h2>Initial Search Experience</h2>
					<h4>Advanced search syntax, previous search logs, and collections of results</h4>
					<hr>
					<h6 class="text-uppercase" style="letter-spacing: 1px;">Efficiency accelerators</h6>
					<p>Save users time by providing clickthrough to add syntax directly to the search bar</p>
					<img src="./img/cr-search/cr-search_sketch_01.png" alt="...">
					<hr>
					<h6 class="text-uppercase" style="letter-spacing: 1px;">Recognition rather than recall</h6>
					<p>Highlight parts of advanced search syntax that are editable vs. part of the syntax structure.</p>
					<img src="./img/cr-search/cr-search_sketch_02.png" alt="...">
				</div>
				<div class="col-sm-8">
					<img src="./img/cr-search/cr-search_interface_05.png" alt="...">
				</div>
			</div>

				<div class="clearfix"></div>
				<hr id="advanced-search">

			<div class="row">
				<div class="col-sm-3">
					<h4>Exploring alternatives</h4>
					<p>Our team uses GitHub to post issues &amp; bugs, explore design options, and submit code changes.</p>
				</div>
				<div class="col-sm-9">
					<img src="./img/cr-search/cr-search_advanced-alternatives.gif" alt="...">
				</div>
			</div>		

				<div class="clearfix"></div>
				<hr id="results-page">

			<div class="row">
				<div class="col-sm-4">
					<h2>Search Results</h2>
					<h4>Filter results by structured data fields, add complaints to collections for further review, and export results as raw data</h4>
					<hr>
					<h6 class="text-uppercase" style="letter-spacing: 1px;">Consistency for primary actions</h6>
					<p>Develop standard terminology to differentiate key actions on the results page, so users can link actions like saving your search, adding to collections, and exporting data with the associated outcomes.</p>
					<img src="./img/cr-search/cr-search_sketch_03.png" alt="...">
				</div>
				<div class="col-sm-8">
					<img src="./img/cr-search/cr-search_interface_04.png" alt="...">
				</div>
			</div>

				<div class="clearfix"></div>
				<hr id="micro-interaction">

			<div class="row">
				<div class="col-sm-4">
					<h4>Microinteractions</h4>
					<p>We explored microinteractions for experiences on specific complaints, such as selecting / deselecting for export (shown right) or adding notes.</p>
				</div>
				<div class="col-sm-8">
					<video controls autoplay loop muted width="100%">
						<source src="./img/cr-search/CFPB_Search_Sprint10_v1_selection-02.mov">
						<!-- <source src="movie.ogg" type="video/ogg"> -->
						Your browser does not support the video tag.
					</video>
				</div>
			</div>	

				<div class="clearfix"></div>
				<hr id="detail-page">

			<div class="row">
				<div class="col-sm-4">
					<h2>Complaint Detail View</h2>
					<h4>Assess all data fields, review complaint timeline, highlight key issues</h4>
					<hr>
					<h6 class="text-uppercase" style="letter-spacing: 1px;">Provide ambient information</h6>
					<p>Flag steps in the complaint process with color-coded indicators to highlight issues such as delayed responses from companies or disputes from consumers.</p>
					<img src="./img/cr-search/cr-search_sketch_04.png" alt="...">
				</div>
				<div class="col-sm-8">
					<img src="./img/cr-search/cr-search_interface_06.png" alt="...">
				</div>
			</div>

<!--				 <div class="clearfix"></div>
				<hr id="details">

			<div class="row">
				<div class="col-xs-12">
						<h2>Design Details</h2>
				</div>
				<div class="col-sm-4 col-md-2">
						<h4>Users can filter results based on a variety of structured data fields.</h4>
				</div>
				<div class="col-sm-8 col-md-3">
							<img src="./img/cr-search/cr-search_interface_02.png" alt="...">
				</div>
				<div class="col-sm-4 col-md-2">
						<h4>Users can add results that meet their research criteria to collections for further review.</h4>
				</div>
				<div class="col-sm-8 col-md-5">
							<img src="./img/cr-search/cr-search_interface_03.png" alt="...">
				</div> 
			</div> -->

			<div class="clearfix"></div>

		</div> <!-- /container -->

	{% include footer.html %}

	</body>
</html>
