---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>

  <body>

	{% include header.html %}

    <div class="jumbotron" style="background-color:#f0eee8; padding-top:0; padding-bottom:0;">
      <div class="container">
        <img src="./img/design-manual/design-manual_01_@2.png" alt="...">
      </div>
    </div>

    <div id="portfolio" class="container">

    	<div class="row">
    		<div class="col-sm-4 col-md-3">
          <div class="row">
      			<div class="col-xs-12 col-sm-12">
  			        <h1>CFPB Design Manual</h1>
  			        <h4>Developing a consistent identity and brand resources for the CFPB</h4>
  			    </div>
      			<div class="col-xs-4 col-sm-6 meta-entry">
      				<h6>Project Date</h6>
      				<h5>2013 - 2014</h5>
      			</div>
            <div class="col-xs-4 col-sm-6 meta-entry">
              <h6>Organization</h6>
              <h5>CFPB</h5>
            </div>
      			<div class="col-xs-12 meta-entry">
  	    			<h6>Project Team</h6>
  	    			<h5>CFPB Design &amp; Technology Fellows</h5>
      			</div>
            <div class="col-xs-12 meta-entry">
              <h6>See the work</h6>
              <h5><a href="http://cfpb.github.io/design-manual/index.html" target="_blank">Visit the Design Manual <span class="glyphicon glyphicon-link"></span></a></h5>
            </div>
          </div>
        </div>

	        <!-- Add the extra clearfix for only the required viewport -->
  			<div class="clearfix visible-xs-block"></div>

    		<div class="col-sm-8 col-md-9">
        	<h3>The Design Manual is an open-source resource built to help employees and contractors produce effective and visually-consistent print and digital products on behalf of the Bureau. The Manual includes our design principles, guidelines for user experience, identity standards, and code snippets for common user interface elements. The Manual will continue to evolve as we learn what works best for the CFPB and the people we serve.</h3>
        	<div class="row">
            <div class="col-sm-6">
        			<p>The CFPB brand helps to cultivate a trusted relationship with consumers and enable them to live better financial lives. These guidelines represent the most up-to-date visual expression of the CFPB brand, also known as identity.</p>
            </div>                  
            <div class="col-sm-6">
              <p>When used as the building blocks for visual communication, we can be confident the final output will be consistent and recognizable as a CFPB production.</p>
            </div>
        	</div>
	      </div>
    	</div>
      	
      	<div class="clearfix visible-md-block visible-lg-block"></div>
      	<hr id="portal">

    	<div class="row">
    		<div class="col-sm-4 col-md-3">
		        <h2>Identity Components &amp; Guidelines</h2>
  			</div>
  			<div class="col-sm-8 col-md-9">
  				<img style="background:#f0eee8;" src="./img/design-manual/design-manual_02_@2.png" alt="...">
  			</div>
    	</div>

        <div class="clearfix visible-md-block visible-lg-block"></div>
        <hr id="portal">

      <div class="row">
        <div class="col-sm-4 col-md-3">
            <h2>Icon Libraries</h2>
            <h4>Building a visual language for communicating about financial products, processes, and information.</h4>
        </div>
        <div class="col-sm-8 col-md-9">
          <img style="background:#f0eee8;" src="./img/design-manual/design-manual_03_@2.png" alt="...">
          <img style="background:#f0eee8;" src="./img/design-manual/design-manual_04_@2.png" alt="...">
        </div>
      </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
      	<hr>

		</div> <!-- /container -->

	{% include footer.html %}

	</body>
</html>
