---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>

  <body>

    <div class="container">
		<div class="inner">
			<div class="masthead clearfix">
			    <h4 class="masthead-brand"><a href="./">Stephen Kennedy</a></h4>
			    <ul class="nav masthead-nav">
			        <li><a href="./">Home</a></small></li>
			        <li><a href="resume.html">Resume</a></small></li>
			        <li><a href="mailto:stephenjameskennedy@gmail.com">Contact</a></small></li>
			    </ul>
			</div>
		</div>
	</div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-color:#e3e4e5; padding-top:0; padding-bottom:0;">
      <div class="container">
        <img src="./img/complaint/complaint_@2-02.png" alt="...">
      </div>
    </div>

    <div id="portfolio" class="container">

    	<div class="row">
    		<div class="col-sm-4 col-md-3">
      		<div class="row">
          	<div class="col-xs-12 col-sm-12">
    		        <h1>Consumer Complaint Process</h1>
    		        <h4>Improving the experience of government forms</h4>
    		    </div>
      			<div class="col-xs-4 col-sm-6 meta-entry">
      				<h6>Project Date</h6>
      				<h5>2013 - 2014</h5>
      			</div>
            <div class="col-xs-4 col-sm-6 meta-entry">
              <h6>Organization</h6>
              <h5>CFPB</h5>
            </div>
      			<div class="col-xs-12 meta-entry">
        			<h6>Project Team</h6>
        			<h5>Ben Guhin, Stephanie Osan, Armin Kiany, Mehgan Iulo</h5>
      			</div>
            <div class="col-xs-12 meta-entry">
              <h6>See the work</h6>
              <h5><a href="http://www.consumerfinance.gov/complaint/" target="_blank" rel="noopener noreferrer">Visit the Complaint homepage</a> <span class="glyphicon glyphicon-link"></span></h5>
              <h5><a href="http://www.consumerfinance.gov/complaint/#payday-loan" target="_blank" rel="noopener noreferrer">See the latest complaint form</a> <span class="glyphicon glyphicon-link"></span></h5>
            </div>
          </div>
        </div>

	        <!-- Add the extra clearfix for only the required viewport -->
  			<div class="clearfix visible-xs-block"></div>

    		<div class="col-sm-8 col-md-9">
	          	<h3>Since July 2011, hundreds of thousands of consumers have come to the CFPB to submit complaints about problems related to financial products and services. The fastest way for consumers to have their complaints routed to companies is through our online complaint form. Companies are expected to close all but the most complicated complaints within 60 days.</h3>
	          	<div class="row">
                <div class="col-md-6">
	          			<p>Ok, so we’ll admit that an online complaint form isn’t the most exciting activity for most people. But for consumers struggling with complex financial situations, the last thing they should have to deal with is a frustrating or overly-complex government form. We’ve all experienced them, at the DMV, your tax return, voter registration. Quite often these forms are created without consideration of basic design principles that could drastically improve their ease of use.</p>
                </div>
                <div class="col-md-6">
                  <img src="./img/complaint/Screen-Shot-2014-04-06-at-10.16.56-AM.png" alt="...">
	          		</div>
	          	</div>
	        </div>
    	</div>
      	
      	<div class="clearfix visible-md-block visible-lg-block"></div>
      	<hr id="portal">

    	<div class="row">
    		<div class="col-sm-4 col-md-3">
		        <h2>Complaint Portal Design</h2>
		        <h4>As the entry-point to the consumer complaint forms, we worked to clarify the complaint process with the CFPB, help users select the right financial product related to their issue, and explain how complaints provide useful data for the Bureau.</h4>
  			</div>
  			<div class="col-sm-8 col-md-9">
          <img src="./img/complaint/complaint_ux-sketch.jpg" alt="...">
  				<img src="./img/complaint/complaint_@2-04.png" alt="...">
          <img src="./img/complaint/complaint_@2-03.png" alt="...">
          <img src="./img/complaint/complaint_@2-05.png" alt="...">
  			</div>
    	</div>

        <div class="clearfix visible-md-block visible-lg-block"></div>
        <hr id="portal">

      <div class="row">
        <div class="col-sm-4 col-md-3">
            <h2>Complaint Form Design</h2>
            <h4>In 2013, the CFPB was slated to add complaint forms about Debt Collection and Payday Loan issues, providing us with the opportunity to improve upon the existing form design and experience.</h4>
        </div>
        <div class="col-sm-8 col-md-9">
          <img src="./img/complaint/complaint_@2-06.png" alt="...">
          <img src="./img/complaint/complaint_@2-07.png" alt="...">
        </div>
      </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
      	<hr>

		</div> <!-- /container -->

	{% include footer.html %}

	</body>
</html>
