---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>

	<body>

	<div class="container">
		<div class="inner">
			<div class="masthead clearfix">
				<h4 class="masthead-brand"><a href="./">Stephen James Kennedy</a></h4>
				<ul class="nav masthead-nav">
					<li><a href="./">Home</a></small></li>
					<li><a href="resume.html">Resume</a></small></li>
					<li><a href="mailto:stephenjameskennedy@gmail.com">Contact</a></small></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron" style="background-color:#000; padding-top:0; padding-bottom:0;">
	  <div class="container">
		<img src="./img/great-signs/exploration_01.jpg" alt="...">
	  </div>
	</div>

	<div id="portfolio" class="container">

		<div class="row">
			<div class="col-sm-4 col-md-3">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<h1>The Good Guide to Great Signs</h1>
						<h4>Illustrating New Orlean’s dense signage ordinance</h4>
					</div>
					<div class="col-xs-4 col-sm-6 meta-entry">
						<h6>Project Date</h6>
						<h5>2012</h5>
					</div>
					<div class="col-xs-4 col-sm-6 meta-entry">
						<h6>Location</h6>
						<h5>Broad Street, New Orleans, LA</h5>
					</div>
					<div class="col-xs-4 col-sm-6  meta-entry">
						<h6>Role</h6>
						<h5>Project Designer</h5>
					</div>
					<div class="clearfix visible-xs-block"></div>
					<div class="col-xs-4 col-sm-6  meta-entry">
						<h6>Organization</h6>
						<h5>Broad Community Connections</h5>
					</div>
					<div class="col-xs-4 col-sm-12  meta-entry">
						<h6>Grantor</h6>
						<h5>National Endowment for the Arts</h5>
					</div>
				</div>
			</div>

			<!-- Add the extra clearfix for only the required viewport -->
			<div class="clearfix visible-xs-block"></div>

			<div class="col-sm-8 col-md-9">
				<h3>The Good Guide to Great Signs translates New Orlean’s dense zoning ordinance into diagrams and visuals so that artists and businesses participating in the Iconic Signage Project can better understand the city’s signage guidelines.<!--  The guide also provides general tips and techniques for designing great signs. --></h3>
				<div class="row">
					<div class="col-sm-6">
						<p><a href="http://broadcommunityconnections.org/projects/iconic-signage" target="_blank">Iconic Signage Project</a> (ISP) received $25,000 grant from the National Endowment for the Arts (NEA) to support the revitalization of New Orleans’ Broad Street “Main Street” corridor by creating a cohesive visual identity. The Arts Council of New Orleans and Broad Community Connections matched the NEA grant to commission visual artists and designers to create neon signage for local businesses along the corridor. Currently a hodge-podge of facades, the Iconic Signage Project will create a glowing cohesive visual identity for Broad Street, which is a vital East-West route through the center of the city.
					</div>
					<div class="col-sm-6">
						<p>Broad Street was recently designated as an Inner City Urban Corridor District, a new zoning district type of the City of New Orleans created with the goal of improving the visual appeal and pedestrian accessibility of major inner-city street corridors. The new zoning district establishes a set of guidlines for commercial signage. The Good Guide to Great Signs provides local businesses and signage artists with a visualization of the zoning guidelines.</p>
					</div>
				</div>
				<a class="btn btn-primary" href="http://issuu.com/stephenjameskennedy/docs/good_guide_to_great_signs/1?e=2658733/2831031" target="_blank" role="button">See the guide</a>
				<div class="btn-group">
					<a href="#content" class="btn btn-default" role="button">Guide Content</a>
					<!-- <a href="#context" class="btn btn-default" role="button">Broad Street Context</a> -->
					<a href="#research" class="btn btn-default" role="button">Signage Research</a>
				</div>
				<img src="./img/great-signs/spread_01.jpg" alt="...">
			</div>
		</div>
		
		<div class="clearfix visible-md-block visible-lg-block"></div>
		<hr id="context">

		<div class="row">
			<div class="col-sm-4 col-md-3">
				<h2>Broad Street Context</h2>
				<h4>Meeting local business owners to gauge interest in being paired with an artist for the Iconic Signage Project.
			</div>
			<div class="col-sm-8 col-md-9">
				<div class="col-sm-8">
					<img src="./img/great-signs/context_01.jpg" alt="...">
				</div>
				<div class="col-sm-4">
					<img src="./img/great-signs/context_02b.jpg" alt="...">
					<p>Goodfellas Barbershop</p>
				</div>
				<div class="col-sm-8">
					<img src="./img/great-signs/context_02.jpg" alt="...">
				</div>	
				<div class="col-sm-4">
					<img src="./img/great-signs/context_01b.jpg" alt="...">
					<p>F&F Candle Shop</p>
				</div>			
				<div class="col-sm-8">
					<img src="./img/great-signs/context_03.jpg" alt="...">
				</div>	
				<div class="col-sm-4">
					<img src="./img/great-signs/context_03b.jpg" alt="...">
				</div>	
			</div>
		</div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
		<hr id="content">

		<div class="row">
			<div class="col-sm-4 col-md-3">
				<h2>Guide Content</h2>
				<h4>A deconstruction of the New Orleans zoning ordinance signage specifications.</h4>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/great-signs/spread_02.jpg" alt="...">
				<hr>
				<div class="col-md-8">
					<img src="./img/great-signs/content_01.png" alt="...">
				</div>
				<div class="col-md-4">
					<h3>Calculating sign area</h3>
					<p>Sign area is the maximum size of the sign(s) a business is allowed to display (up to 70 ft2). It is calculated using the width of the building or tenant space (shown as A in the diagram below). If a building is A ft wide, then sign(s) can be as large as A sq. ft.</p>
					<h3>Signage typology</h3>
					<p>Requirements vary depending upon the type of sign a business is interested in implementing.</p>
				</div>
				<div class="clearfix visible-md-block visible-lg-block"></div>
				<hr>
				<img src="./img/great-signs/content_03.png" alt="...">
				<hr>
				<img src="./img/great-signs/spread_03.jpg" alt="...">
				<img src="./img/great-signs/content_05.png" alt="...">
				<div class="col-md-8">
					<img src="./img/great-signs/content_06.png" alt="...">
				</div>	
				<div class="col-md-4">
					<p>This section provides descriptions of various lighting types and methods for illuminating signs.</p>
				</div>			
			</div>
		</div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
		<hr id="research">

		<div class="row">
			<div class="col-sm-4 col-md-3">
				<h2>Signage Research</h2>
				<h4>Exploring the city's rich and vibrant tradition of illuminated signage. Lighting is what brings signage and streetscapes to life.</h4>
				<p>Although the neon signage industry has declined in the past several decades, neon signs are still prevalent in New Orleans. Illuminated signs are important indicators of the return of economic activity in areas around the city, bringing life back to post-Katrina darkened streets. In addition to making signs more readable, they also make our streets safer at night.</p>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/great-signs/exploration_00.jpg" alt="...">
				<img src="./img/great-signs/exploration_02.jpg" alt="...">
				<img src="./img/great-signs/exploration_03.jpg" alt="...">
				<img src="./img/great-signs/exploration_04.jpg" alt="...">
				<img src="./img/great-signs/exploration_05.jpg" alt="...">
				<img src="./img/great-signs/exploration_06.jpg" alt="...">
			</div>
		</div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
		<hr>

		</div> <!-- /container -->

	{% include footer.html %}

	</body>
</html>
