---
---

<!DOCTYPE html>
<html lang="en">
  <head>
		{% include head.html %}
  </head>

  <body>

	{% include header.html %}

	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<hr>
					<h4>Hey there.</h4>
					<p>I currently lead the Map Design team at <a href="https://www.mapbox.com/" target="_blank" rel="noopener noreferrer">Mapbox</a>, a multidisciplinary team of cartographers, UX researchers, and product designers busy building the future of maps for everyone.</p>
				</div>
				<div class="col-md-4">
					<hr>
					<h4>Previously,</h4>
					<p>I've worked as the Design Director at <a href="https://urbanfootprint.com/" target="_blank" rel="noopener noreferrer">UrbanFootprint</a>, an interaction design lead at Sidewalk Labs and <a href="https://www.ideo.org/" target="_blank" rel="noopener noreferrer">IDEO.org</a>, a <a href="http://www.consumerfinance.gov/jobs/technology-innovation-fellows/" target="_blank" rel="noopener noreferrer">Design &amp; Technology Fellow</a> for the Consumer Financial Protection Bureau, and an urban researcher for <a href="http://www.kotakita.org/" target="_blank" rel="noopener noreferrer">kotakita.org</a>.</p>
				</div>
				<div class="col-md-4">
					<hr>
					<h4>Side Hustle</h4>
					<p>In my spare time, I create maps of Madison, the Midwest, and beyond, which I sell as prints at <a href="https://latlong.shop/" target="_blank" rel="noopener noreferrer">LATLONG.SHOP</a>.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">

	  <hr>

  		<!-- MAPPING & DATA -->
		<div class="row">
			<div class="col-xs-12 col-md-3 sticky">
				<h2>Cartography</h2>
			</div>   
			<div class="col-xs-12 col-md-9">
				<div class="row">
					<div class="col-xs-12">
						<a href="urbanfootprint-maps.html" class="thumbnail">
		  					<img src="./img/uf-maps/uf-maps-thumb.jpg" alt="Map depicting the coincidence of railways and waterways in the US">
					  		<h4>Cartography Samples</h4>
					  		<p>A sampling of cartographic work for UrbanFootprint blog posts and marketing material, focused on showcasing how critical spatial data can inform key decisions in urban planning, disaster response, climate adaptation, and more.</p>
						</a>
					</div> 
					<div class="col-xs-12">
						<a href="2022-30-day-map-challenge.html" class="thumbnail">
		  					<img src="./img/3dmc-22/30dmc-thumb.jpg" alt="3D map of geological features in Dane County WI">
					  		<h4>#30DayMapChallenge</h4>
					  		<p>A cartographic series exploring Madison WI (and Dane County), following the 30 prompts for the month of November provided by @tjukanov, known as the #30DayMapChallenge on Twitter.</p>
						</a>
					</div> 
				</div>
			</div>
		</div>

	  <hr>

  		<!-- SYSTEMS DESIGN -->
		<div class="row">
			<div class="col-xs-12 col-md-3 sticky">
				<h2>Systems Design</h2>
			</div>   
			<div class="col-xs-12 col-md-9">
				<div class="row">
					<div class="col-xs-12">
						<a href="curbs-api.html" class="thumbnail">
		  					<img src="./img/coord-curbs/coord-curbs-hero.png" alt="Curb data for San Francisco">
					  		<h4>Curbs API</h4>
					  		<p>Curbs are the nexus of mobility in cities, but information about the rules that govern them is difficult to obtain. Coord's Curbs API allows developers to easily understand how any stretch of curb can be used for over 200K curbs in Los Angeles, New York City, San Francisco, and Seattle.</p>
						</a>
					</div> 
					<div class="col-xs-6 col-sm-4">
						<a href="cfpb-fair-lending.html" class="thumbnail thumbnail-circle">
		  					<img src="./img/fair-lending/thumb2.jpg" alt="...">
					  		<h4>Redline Mapping</h4>
					  		<p class="hidden-xs">Visualizing HMDA data to investigate instances of lending discrimination</p>
						</a>
					</div> 
					<div class="col-xs-6 col-sm-4">
						<a href="first-bus-map.html" class="thumbnail thumbnail-circle">
			  				<img src="./img/first-bus-map/thumb.png" alt="...">
					  		<h4>First Bus Map of Dhaka</h4>
					  		<p class="hidden-xs">Bringing the first map of the city’s complex bus network to life</p>
						</a>
					</div> 
					<div class="col-xs-6 col-sm-4">
						<a href="thesis.html" class="thumbnail thumbnail-circle">
		  					<img src="./img/thesis/thumb2.png" alt="...">
					  		<h4>Master’s Thesis</h4>
					  		<p class="hidden-xs">Transforming Big Data into Knowledge</p>
						</a>
					</div>
				</div>
			</div>
		</div>

	  <hr>

  		<!-- DESIGN & TECHNOLOGY -->
		<div class="row"> 
			<div class="col-xs-12 col-md-3">
				<h2>Interaction Design</h2>
			</div>   
			<div class="col-xs-12 col-md-9">
				<div class="row">
					<div class="col-xs-6 col-sm-4">
						<a href="cfpb-cr-search.html" class="thumbnail thumbnail-circle">
		  					<img src="./img/cr-search/thumb.png" alt="...">
							<h4>Complaint Database Search Tool</h4>
							<p class="hidden-xs">Connecting to the issues &amp; concerns of consumers</p>
						</a>
					</div> 
					<div class="col-xs-6 col-sm-4">
						<a href="consumer-complaints.html" class="thumbnail thumbnail-circle">
		  					<img src="./img/complaint/thumb.png" alt="...">
							<h4>Consumer Complaint Process</h4>
							<p class="hidden-xs">Improving the experience of government forms</p>
						</a>
					</div> 
					<div class="clearfix visible-xs-block"></div>
					<div class="col-xs-6 col-sm-4">
						<a href="cfpb-brand.html" class="thumbnail thumbnail-circle">
		  					<img src="./img/design-manual/thumb.png" alt="...">
					  		<h4>CFPB Design Manual</h4>
					  		<p class="hidden-xs">Developing a consistent identity &amp; brand resources</p>
						</a>
					</div> 
					<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
					<div class="col-xs-12">
						<div class="thumbnail">
		  					<img src="./img/tripadvisor-maps/thumb.webp" srcset="./img/tripadvisor-maps/thumb@2x.webp 2x" alt="Tripadvisor Map Pin System">
					  		<h4>Tripadvisor Map Pin System</h4>
					  		<p>A comprehensive design effort to build an advanced pin hierarchy for Tripadvisor's map experience, driving user trip planning and discovery directly through the map itself using Mapbox.</p>
					  		<p><small>Details available on request</small></p>
						</div>
					</div> 
				</div>
			</div>
		</div>

	  <hr>

  		<!-- PLANNING & URBAN DESIGN -->
		<div class="row">
			<div class="col-xs-12 col-md-3 sticky">
				<h2>Urban Planning &amp; Participatory Design</h2>
			</div>   
			<div class="col-xs-12 col-md-9">
				<div class="row">
					<div class="col-xs-12">
						<div class="thumbnail">
		  					<img src="./img/street-design/thumb.jpg" alt="Street Design Principles">
					  		<h4>Street Design Principles</h4>
					  		<p>Defining a framework for street design at Sidewalk Labs, translating the goals of safety, sustainability, and vibrant public life into actionable design principles for city streets.</p>
					  		<p><small>Details available on request</small></p>
						</div>
					</div> 
					<div class="clearfix visible-xs-block"></div>
					<div class="col-xs-6 col-sm-4">
						<a href="firm-foundation.html" class="thumbnail thumbnail-circle">
			  				<img src="./img/firm-foundation/thumb.jpg" alt="...">
					  		<h4>Firm Foundation</h4>
					  		<p class="hidden-xs">Participatory public space design for riverfront communities</p>
						</a>
					</div> 	
					<div class="col-xs-6 col-sm-4">
						<a href="great-signs.html" class="thumbnail thumbnail-circle">
			  				<img src="./img/great-signs/thumb.jpg" alt="...">
					  		<h4>Good Guide to Great Signs</h4>
					  		<p class="hidden-xs">Illustrating New Orleans’ dense signage ordinance</p>
					</a>
					</div>
					<div class="clearfix visible-xs-block"></div>
					<div class="col-xs-6 col-sm-4">
						<a href="stormwater-management.html" class="thumbnail thumbnail-circle">
			  				<img src="./img/wlud/thumb2.jpg" alt="...">
					  		<h4>Stormwater Management</h4>
					  		<p class="hidden-xs">Green infrastructure strategies for the former Mill Creek watershed</p>
					</a>
					</div>
				</div>
			</div>
		</div>

	</div> <!-- /container -->

	{% include footer.html %}

  </body>
</html>
