---
---

<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="./img/favicon.ico">

	<title>Stephen James Kennedy | Interaction Designer &amp; Urban Planner</title>

	<!-- Bootstrap core CSS -->
	<!-- <link href="./css/bootstrap.min.css" rel="stylesheet"> -->
	<link href="./css/bootstrap.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="./css/jumbotron.css" rel="stylesheet">
	<link href="./css/masthead.css" rel="stylesheet">
	<link href="./css/resume.css" rel="stylesheet">
	<link href="./css/portfolio.css" rel="stylesheet">
	<link href="./css/iconic-bootstrap.css" rel="stylesheet">	

	<!-- Custom Google Font usage -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>

  <body>

	{% include header.html %}

	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<hr>
					<h4>Hey there.</h4>
					<h3>I'm a product designer and design lead for <a href="https://coord.co/" target="_blank">Coord</a>, an organization incubated by <a href="https://sidewalklabs.com/" target="_blank">Sidewalk Labs</a> to focus on emerging mobility technology.</h3>
				</div>
				<div class="col-sm-4">
					<hr>
					<h4>Previously,</h4>
					<h3>I've worked as an interaction designer at <a href="https://www.ideo.org/" target="_blank">IDEO.org</a>, a <a href="http://www.consumerfinance.gov/jobs/technology-innovation-fellows/" target="_blank">Design &amp; Technology Fellow</a> for the Consumer Financial Protection Bureau, and an urban researcher for <a href="http://www.kotakita.org/" target="_blank">kotakita.org</a>.</h3>
				</div>
				<div class="col-sm-4">
					<hr>
					<h4>Side Hustle</h4>
					<h3>I'm also the co-founder of <a href="./new-market-goods.html">New Market Goods</a>, a fair trade clothing brand formed with the goal of better understanding and highlighting positive production practices in Bangladesh.</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="container">

	  <hr>

  		<!-- COORD -->
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<h1>Mobility Tech</h1>
			</div>   

			<div class="col-xs-12 col-sm-9">
				<a href="https://coord.co/explorer/sf" class="thumbnail" target="_blank">
  					<img src="./img/coord-curbs/coord-curbs-hero.png" alt="Curb data for San Francisco">
			  		<h4>Curbs API</h4>
			  		<p>Curbs are the nexus of mobility in cities, but information about the rules that govern them is difficult to obtain. Coord's Curbs API allows developers to easily understand how any stretch of curb can be used for over 200K curbs in Los Angeles, New York City, San Francisco, and Seattle.</p>
				</a>
			</div> 
		</div>

	  <hr>

  		<!-- MAPPING & DATA -->
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<h1>Mapping &amp; Data Visualization</h1>
			</div>   
			<div class="col-xs-6 col-sm-3">
				<a href="cfpb-fair-lending.html" class="thumbnail thumbnail-circle">
  					<img src="./img/fair-lending/thumb2.jpg" alt="...">
			  		<h4>Redline Mapping</h4>
			  		<p class="hidden-xs">Visualizing HMDA data to investigate instances of lending discrimination</p>
				</a>
			</div> 

			<div class="col-xs-6 col-sm-3">
				<a href="first-bus-map.html" class="thumbnail thumbnail-circle">
	  				<img src="./img/first-bus-map/thumb.png" alt="...">
			  		<h4>First Bus Map of Dhaka</h4>
			  		<p class="hidden-xs">Bringing the first map of the city’s complex bus network to life</p>
				</a>
			</div> 

			<div class="col-xs-6 col-sm-3">
				<a href="thesis.html" class="thumbnail thumbnail-circle">
  					<img src="./img/thesis/thumb2.png" alt="...">
			  		<h4>Master’s Thesis</h4>
			  		<p class="hidden-xs">Transforming Big Data into Knowledge</p>
				</a>
			</div> 
		</div>

	  <hr>

  		<!-- DESIGN & TECHNOLOGY -->
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<h1>Interaction Design</h1>
			</div>   

			<div class="col-xs-6 col-sm-3">
				<a href="cfpb-cr-search.html" class="thumbnail thumbnail-circle">
  					<img src="./img/cr-search/thumb.png" alt="...">
					<h4>Complaint Database Search Tool</h4>
					<p class="hidden-xs">Connecting to the issues &amp; concerns of consumers</p>
				</a>
			</div> 

			<div class="col-xs-6 col-sm-3">
				<a href="consumer-complaints.html" class="thumbnail thumbnail-circle">
  					<img src="./img/complaint/thumb.png" alt="...">
					<h4>Consumer Complaint Process</h4>
					<p class="hidden-xs">Improving the experience of government forms</p>
				</a>
			</div> 

			<div class="clearfix visible-xs-block"></div>

			<div class="col-xs-6 col-sm-3">
				<a href="cfpb-brand.html" class="thumbnail thumbnail-circle">
  					<img src="./img/design-manual/thumb.png" alt="...">
			  		<h4>CFPB Design Manual</h4>
			  		<p class="hidden-xs">Developing a consistent identity &amp; brand resources</p>
				</a>
			</div> 

			<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
		</div>

	  <hr>

  		<!-- PLANNING & URBAN DESIGN -->
		<div class="row">
			<div class="col-xs-12 col-sm-3">
				<h1>Urban Planning &amp; Participatory Design</h1>
			</div>   

			<div class="clearfix visible-xs-block"></div>

			<div class="col-xs-6 col-sm-3">
				<a href="firm-foundation.html" class="thumbnail thumbnail-circle">
	  				<img src="./img/firm-foundation/thumb.jpg" alt="...">
			  		<h4>Firm Foundation</h4>
			  		<p class="hidden-xs">Participatory public space design for riverfront communities</p>
				</a>
			</div> 
						
			<div class="col-xs-6 col-sm-3">
				<a href="great-signs.html" class="thumbnail thumbnail-circle">
	  				<img src="./img/great-signs/thumb.jpg" alt="...">
			  		<h4>Good Guide to Great Signs</h4>
			  		<p class="hidden-xs">Illustrating New Orleans’ dense signage ordinance</p>
			</a>
			</div>

			<div class="clearfix visible-xs-block"></div>
			
			<div class="col-xs-6 col-sm-3">
				<a href="stormwater-management.html" class="thumbnail thumbnail-circle">
	  				<img src="./img/wlud/thumb2.jpg" alt="...">
			  		<h4>Stormwater Management</h4>
			  		<p class="hidden-xs">Green infrastructure strategies for the former Mill Creek watershed</p>
			</a>
			</div>
						
			<div class="col-xs-6 col-sm-3">
				<a href="urbano-ambiental.html" class="thumbnail thumbnail-circle">
	  				<img src="./img/urbano-ambiental/thumb.jpg" alt="...">
			  		<h4>Urban Environmental Axis</h4>
					<p class="hidden-xs">Multisectoral urban intervention along the Choluteca River</p>
			</a>
			</div>

			<div class="clearfix visible-xs-block"></div>
			
			<div class="col-xs-6 col-sm-3">
				<a href="astiko-teatro.html" class="thumbnail thumbnail-circle">
	  				<img src="./img/astiko-teatro/thumb.jpg" alt="...">
			  		<h4>Astiko Teatro</h4>
			  		<p class="hidden-xs">Thessaloniki’s 21st Century urban waterfront theatre</p>
			</a>
			</div>

			<div class="col-xs-6 col-sm-3">
				<a href="bronx-waterfront.html" class="thumbnail thumbnail-circle">
	  				<img src="./img/bronx-waterfront/thumb.jpg" alt="...">
			  		<h4>Bronx, Meet Your Waterfront Plan</h4>
			  		<p class="hidden-xs">Envisioning a linear greenway along the Harlem River</p>
			</a>
			</div>

			<div class="clearfix visible-xs-block"></div>
			
			<div class="col-xs-6 col-sm-3">
				<a href="cambridgeport-plan.html" class="thumbnail thumbnail-circle">
	  				<img src="./img/cambridgeport-plan/thumb.jpg" alt="...">
			  		<h4>Magazine Beach</h4>
					<p class="hidden-xs">Mixed-use redevelopment along the Cambridgeport Waterfront</p>
				</a>
			</div>	
		</div>

	</div> <!-- /container -->

	{% include footer.html %}

  </body>
</html>
