---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>

	<body>

		<div class="container">
			<div class="inner">
				<div class="masthead clearfix">
						<h4 class="masthead-brand"><a href="./">Stephen James Kennedy</a></h4>
						<ul class="nav masthead-nav">
							<li><a href="./">Home</a></small></li>
							<li><a href="resume.html">Resume</a></small></li>
							<li><a href="mailto:stephenjameskennedy@gmail.com">Contact</a></small></li>
						</ul>
				</div>
			</div>
		</div>

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron" style="padding-top:0; padding-bottom:0;">
			<div class="container">
				<img src="./img/new-market-goods/main.jpg" alt="...">
			</div>
		</div>

		<div id="portfolio" class="container">

			<div class="row">
				<div class="col-sm-4 col-md-3">
					<div class="row">
						<div class="col-xs-12 col-sm-12">
							<h1>New Market Goods</h1>
							<h4>Clothing responsibly produced in Bangladesh</h4>
						</div>
						<!-- <div class="col-xs-4 col-sm-6 meta-entry">
							<h6>Project Date</h6>
							<h5>2013 - present</h5>
						</div> -->
						<div class="col-sm-6 meta-entry">
							<a class="btn btn-primary" href="http://www.newmarketgoods.com/" target="_blank" rel="noopener noreferrer" role="button">Brand Website</a>
							<a class="btn btn-primary" href="https://www.kickstarter.com/projects/urbanlaunchpad/new-market-goods" target="_blank" rel="noopener noreferrer" role="button">Kickstarter</a>
						</div>						
					</div>
				</div>

					<!-- Add the extra clearfix for only the required viewport -->
				<div class="clearfix visible-xs-block"></div>

				<div class="col-sm-8 col-md-9">
					<h3>We think that “Made in Bangladesh” can mean so much more.</h3>
					<div class="row">
						<div class="col-md-8">
							<p><strong>Chances are high that something you own was made in Bangladesh.</strong> It is the world’s second largest exporter of clothing, but clothing companies rarely communicate or celebrate this–often because the conditions for the workers leave little to be celebrated. But on our frequent trips to the country we’ve been endlessly inspired by the people, textiles, and vibrancy found in every corner.</p>
							<p>New Market Goods was formed with the goal of better understanding and highlighting positive production practices in Bangladesh. We’ve partnered with Deshal, a community of local garment producers who’ve been striving to create better working conditions in their factory. We are improving local livelihoods by returning a share of our profits directly back to the community that is the heart and hands of New Market Goods.</p>
						</div>
						<div class="col-md-4">
							<img src="./img/new-market-goods/made-in-bangladesh.jpg" alt="...">
						</div>
						<div class="clearfix"></div>
						<div class="col-md-4">
							<p><strong>Celebrate Bangladeshi artisanship</strong></p>
							<p>We want to create beautiful garments that reflect Bangladeshi heritage. Our inspiration comes from the textures and colors on the ground in Bangladesh.</p>
						</div>
						<div class="col-md-4">
							<p><strong>Improve industry honesty</strong></p>
							<p>We are highlighting positive approaches to manufacturing in an industry that has become notorious for its extremely negative working conditions.</p>
						</div>
						<div class="col-md-4">
							<p><strong>Make your new favorite garment</strong></p>
							<p>Because our textiles are hand-woven, New Market Goods are made of some of the most interesting textures and colors you can find.</p>
						</div>
						<div class="clearfix"></div>
						<div class="col-xs-12">
				          	<div class="btn-group">
				          		<a href="#product" class="btn btn-default" role="button">Products</a>
				          		<a href="#kickstarter" class="btn btn-default" role="button">Kickstarter First Run</a>
				          		<a href="#deshal" class="btn btn-default" role="button">Working with Deshal</a>
				          	</div>
				        </div>
					</div>
				</div>
			</div>

			<div class="clearfix"></div>
			<hr id="product">

			<div class="row">
				<div class="col-md-3">
					<h2>Products</h2>
					<h4>Our inaugural line features an all-cotton popover shirt. It takes cues from the punjabis frequently found on the streets of Dhaka, such as the band collar and a placket that extends only to mid-chest.</h4>
					<p>We’ve hybridized the style with more traditional button-down features: a slightly more fitted silhouette that hits at the waist and side gussets. The design itself is fairly minimal, and is really meant to highlight the textiles, which are produced in one of the last remaining hand-loom communities called Pabna, in western Bangladesh.</p>
				</div>
				<div class="col-md-9">
					<img src="./img/new-market-goods/newmarketgoods_04_web.jpg" alt="...">
				</div>
				<div class="clearfix"></div>
				<hr>
				<div class="col-xs-6 col-sm-3">
					<h4>Progress</h4>
					<p>We've been hard at work over the last year on new products, promotion, markets, &amp; methods with the team at Deshal!</p>
					<a class="btn btn-primary" href="https://instagram.com/newmarketgoods" target="_blank" rel="noopener noreferrer" role="button">@newmarketgoods</a>
				</div>
				<div class="col-xs-6 col-sm-3">
					<img src="./img/new-market-goods/new_tie.jpg" alt="...">
				</div>
				<div class="col-xs-6 col-sm-3">
					<img src="./img/new-market-goods/new_popovers.jpg" alt="...">
				</div>
				<div class="col-xs-6 col-sm-3">
					<img src="./img/new-market-goods/new_sketch.jpg" alt="...">
				</div>
				<div class="col-xs-6 col-sm-3">
					<img src="./img/new-market-goods/new_factory.jpg" alt="...">
				</div>

				<div class="col-xs-6 col-sm-3">
					<img src="./img/new-market-goods/new_batil.jpg" alt="...">
				</div>
				<div class="col-xs-6 col-sm-3">
					<img src="./img/new-market-goods/new_factory2.jpg" alt="...">
				</div>
				<div class="col-xs-6 col-sm-3">
					<img src="./img/new-market-goods/new_hanten.jpg" alt="...">
				</div>
				<div class="col-xs-6 col-sm-3">
					<img src="./img/new-market-goods/new_market.jpg" alt="...">
				</div>
				
				<!-- <div class="col-xs-6 col-sm-3">
					<img src="./img/new-market-goods/new_products.jpg" alt="...">
				</div> -->
				<div class="col-xs-6 col-sm-3">
					<img src="./img/new-market-goods/new_pullover.jpg" alt="...">
				</div>
				<div class="col-xs-6 col-sm-3">
					<img src="./img/new-market-goods/new_sketch2.jpg" alt="...">
				</div>
				<div class="col-xs-6 col-sm-3">
					<img src="./img/new-market-goods/new_factory3.jpg" alt="...">
				</div>
			</div>

			<div class="clearfix"></div>
			<hr id="kickstarter">

			<div class="row">
				<div class="col-md-3">
					<h2>Kickstarter First Run</h2>
					<div class="row">
						<div class="col-sm-6 col-md-12">
							<h4>In the summer of 2014, we launched a Kickstarter campaign to support the project.</h4>
							<p>We successfully raised over $20,000, providing backers with a first chance to grab popovers featuring our first run of textiles.</p>
						</div>
						<div class="col-sm-6 col-md-12">
							<iframe class="hidden-xs" frameborder="0" height="420" scrolling="no" src="https://www.kickstarter.com/projects/urbanlaunchpad/new-market-goods/widget/card.html?v=2" width="220"></iframe>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<hr>
					<div class="videoWrapper"><iframe width="824" height="618" src="https://www.kickstarter.com/projects/urbanlaunchpad/new-market-goods/widget/video.html" frameborder="0" scrolling="no"></iframe></div>
					<div class="row">
						<div class="col-sm-6">
							<img src="./img/new-market-goods/NMG_product_mirpur.jpg" alt="...">
						</div>
						<div class="col-sm-6">
							<img src="./img/new-market-goods/NMG_product_dhanmondi.jpg" alt="...">
						</div>
						<div class="col-sm-6">
							<img src="./img/new-market-goods/NMG_product_kotwali.jpg" alt="...">
						</div>
						<div class="col-sm-6">
							<img src="./img/new-market-goods/NMG_product_sadarghat.jpg" alt="...">
						</div>
					</div>
				</div>
			</div>

			<div class="clearfix"></div>
			<hr id="deshal">

			<div class="row">
				<div class="col-md-3">
					<h2>Working with Deshal</h2>
					<h4>Over nine years ago, three friends and artists–Kanak, his wife Ishrat, and their friend Sabuj–started Deshal, a popular Bangladeshi clothing line.</h4>
					<p>Since those early days, they’ve built Deshal to be so much more than a brand and a factory; it has become a tight-knit community that encourages its artisans to develop their skills and find passion in their daily work.</p>
					<p>Together, Deshal’s founders have built what is quite likely the only factory of it’s kind in Bangladesh: founded by artists, developed as a small community of artisans, producing their own line, still sourcing textiles from hand-loom communities. The brand has achieved wide popularity throughout the country for both their products and their ideals.</p>
					<p>Deshal’s progressive methods may not be fully applicable to the mega-factories producing readymade garments for fast-fashion lines. But we firmly believe that it’s extremely important to share what they’re doing by contributing to the growing number of producers that are both responsibly operated and commercially successful.</p>
				</div>
				<div class="col-md-9">
					<img src="./img/new-market-goods/NMG_deshal_00.jpg" alt="...">
					<div class="row">
						<div class="col-sm-6">
							<img src="./img/new-market-goods/NMG_deshal_01.jpg" alt="...">
							<img src="./img/new-market-goods/NMG_deshal_03.jpg" alt="...">
						</div>
						<div class="col-sm-6">
							<img src="./img/new-market-goods/NMG_deshal_02.jpg" alt="...">
							<img src="./img/new-market-goods/NMG_deshal_04.jpg" alt="...">
						</div>
					</div>
					<img src="./img/new-market-goods/NMG_deshal_05.jpg" alt="...">
				</div>
			</div>

			<div class="clearfix visible-md-block visible-lg-block"></div>
			<hr>

		</div> <!-- /container -->

	{% include footer.html %}

	</body>
</html>
