---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>

	<body>

	<div class="container">
		<div class="inner">
			<div class="masthead clearfix">
				<h4 class="masthead-brand"><a href="./">Stephen Kennedy</a></h4>
				<ul class="nav masthead-nav">
					<li><a href="./">Projects</a></li>
					<li class="active"><a href="resume.html">Resume</a></li>
					<li><a href="mailto:stephenjameskennedy@gmail.com">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="jumbotron">
		<div class="container">
			<a class="btn btn-primary" href="https://www.linkedin.com/in/stephenjameskennedy" target="_blank" rel="noopener noreferrer" role="button">LinkedIn</a>
		<div class="btn-group">
				<a href="#experience" class="btn btn-default" role="button">Experience</a>
				<a href="#education" class="btn btn-default" role="button">Education</a>
				<a href="#honors" class="btn btn-default" role="honors">Honors &amp; Awards</a>
				<a href="#exhibitions" class="btn btn-default" role="button">Presentations &amp; Exhibitions</a>
				<a href="#skills" class="btn btn-default" role="button">Skills</a>
		</div>
		</div>
	</div>

	<div id="resume" class="container">

		<div class="row">
			
			<div class="resume-section col-md-3" id="experience">
				<h2>Experience</h2>
			</div>
			<div class="resume-section col-md-9">
				<div class="row">
					<div class="col-xs-8 col-sm-9">
						<h4>Mapbox</h4>
						<p>Map Design Lead</p>
					</div>
					<div class="col-xs-4 col-sm-3">
						<h6>2023 - Present</h6>
						<h6 class="location">Washington, DC (remote)</h6>
					</div>
				</div>
				<div class="clearfix"></div><hr>
				<div class="row">
					<div class="col-xs-8 col-sm-9">
						<h4>UrbanFootprint</h4>
						<p>Design Director</p>
					</div>
					<div class="col-xs-4 col-sm-3">
						<h6>2018 - 2023</h6>
						<h6 class="location">Berkeley, CA (remote)</h6>
					</div>
				</div>
				<div class="clearfix"></div><hr>
				<div class="row">
					<div class="col-xs-8 col-sm-9">
						<h4>Sidewalk Labs</h4>
						<p>Design Lead, Coord</p>
					</div>
					<div class="col-xs-4 col-sm-3">
						<h6>2016 - 2018</h6>
						<h6 class="location">New York, NY</h6>
					</div>
				</div>
				<div class="clearfix"></div><hr>
				<div class="row">
					<div class="col-xs-8 col-sm-9">
						<h4>IDEO.org</h4>
						<p>Interaction Designer, Financial Health Team</p>
					</div>
					<div class="col-xs-4 col-sm-3">
						<h6>2015 - 2016</h6>
						<h6 class="location">San Francisco, CA</h6>
					</div>
				</div>
				<div class="clearfix"></div><hr>
				<div class="row">
					<div class="col-xs-8 col-sm-9">
						<h4>Consumer Financial Protection Bureau</h4>
						<p>Senior Design &amp; Technology Fellow</p>
					</div>
					<div class="col-xs-4 col-sm-3">
						<h6>2013 - 2015</h6>
						<h6 class="location">Washington, DC (remote)</h6>
					</div>
				</div>
				<div class="clearfix"></div><hr>
				<div class="row">
					<div class="col-xs-8 col-sm-9">
						<h4>Solo Kota Kita</h4>
						<p>Urban Planning &amp; Designer, Internship &amp; Freelance</p>
					</div>
					<div class="col-xs-4 col-sm-3">
						<h6>2011, 2012, &amp; 2014</h6>
						<h6 class="location">Solo, Indonesia</h6>
					</div>
				</div>
				<div class="clearfix"></div><hr>
				<div class="row">
					<div class="col-xs-8 col-sm-9">
						<h4>Freelance</h4>
					</div>
					<div class="col-xs-4 col-sm-3">
						<h6>2010 - Present</h6>
					</div>
					<div class="col-xs-12">
						<p>Working with organizations, non-profits, agencies, labs, &amp; researchers to visualize &amp; communicate their planning work &amp; ideas.</p>
						<div class="row">
							<div class="col-sm-6">
								<ul>
									<li>Inter-American Development Bank, <small>Haiti &amp; Honduras planning projects</small></li>
									<li>The World Bank, <small>data visualization for East Asia &amp; the Pacific group</small></li>
									<li>Density Atlas, Tunney Lee, <small>Professor Of Architecture + City Planning, Emeritus, MIT</small></li>
									<li>Broad Community Connections, <small>Program Strategist &amp; Designer, New Orleans</small></li>
								</ul>
							</div>
							<div class="col-sm-6">
								<ul>								
									<li>Development Workshop, Atlas Cazenga, <small>Luanda, Angola</small></li>
									<li>Sidewalk Lab, Annette Kim, <small>MIT</small></li>
									<li>Amy Glasmeier, <small>MIT</small></li>
									<li>Larry Susskind, <small>MIT</small></li>
									<li>Holly Ben-Joseph, <small>Landscape Architect</small></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div><hr>
				<div class="row">
					<div class="col-xs-8 col-sm-9">
						<h4>People of Resource</h4>
						<p>Product Designer</p>
					</div>
					<div class="col-xs-4 col-sm-3">
						<h6>2009 - 2010</h6>
						<h6 class="location">Atlanta, GA</h6>
					</div>
				</div>
			</div>

			<div class="resume-section col-md-3" id="education">
			<h2>Education</h2>
			</div>
			<div class="resume-section col-md-9">
				<div class="row">
					<div class="col-xs-8 col-sm-9">
						<h4>Massachusetts Institute of Technology</h4>
						<p>Master in City Planning (MCP), Department of Urban Studies &amp; Planning</p>
					</div>
					<div class="col-xs-4 col-sm-3">
						<h6>2010 - 2012</h6>
						<h6 class="location">Cambridge, MA</h6>
					</div>
					<div class="col-xs-12">
						<p><a href="https://dspace.mit.edu/handle/1721.1/73818" target="_blank" rel="noopener noreferrer"><strong>Thesis</strong></a>: “Transforming Big Data into Knowledge: Experimental Techniques in Dynamic Visualization”</p>
						<ul>								
							<li>Research Assistantship with Prof. Ben-Joseph <small>on new towns and parking lot design publication "Rethinking a Lot"</small></li>
							<li>Teaching Assistantship with Prof. Ben-Joseph <small>Site &amp; Systems Planning Studio, Kiryat Gat, Israel</small></li>
							<li>Research Assistantship with Prof. Glasmeier <small>developing an internal visualization &amp; analysis curriculum called DUSPviz</small></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div><hr>
				<div class="row">
					<div class="col-xs-8 col-sm-9">
						<h4>Georgia Institute of Technology</h4>
						<p>BS in Industrial Design, College of Architecture, Highest Honors</p>
					</div>
					<div class="col-xs-4 col-sm-3">
						<h6>2005 - 2009</h6>
						<h6 class="location">Atlanta, GA</h6>
					</div>
				</div>
				<div class="clearfix"></div><hr>
				<div class="row">
					<div class="col-xs-8 col-sm-9">
						<h4>Parsons New School for Design</h4>
						<p>Integrated Design: Learning from Fieldwork, Summer Intensive Studies</p>
					</div>
					<div class="col-xs-4 col-sm-3">
						<h6>Summer 2008</h6>
						<h6 class="location">New York, NY</h6>
					</div>
				</div>
				<div class="clearfix"></div><hr>
				<div class="row">
					<div class="col-xs-8 col-sm-9">
						<h4>Lunds Universitet</h4>
						<p>Exchange Program in Industrial Design, Ingvar Kamprad Design Centrum</p>
					</div>
					<div class="col-xs-4 col-sm-3">
						<h6>Fall 2007</h6>
						<h6 class="location">Lund, Sweden</h6>
					</div>
				</div>
			</div>

		</div>
		<div class="clearfix"></div>
		<div class="row">

			<div class="resume-section col-md-3" id="honors">
				<h2>Honors &amp; Awards</h2>
			</div>
			<div class="resume-section col-md-9">
				<div class="row">
					<div class="col-xs-8 col-sm-9">
						<h4><a href="https://web.archive.org/web/2015/http://www.aecom.com/What%20We%20Do/Economics/_news/Winners%20announced%20in%20AECOM%20%E2%80%9CUrban%20SOS:%20Water%E2%80%9D%20student%20competition">UrbanSOS: Water</a></h4>
						<p>AECOM's Student Urban Design Competition</p>
					</div>
					<div class="col-xs-4 col-sm-3">
						<h6>2011</h6>
						<h6 class="location">London, UK</h6>
					</div>
					<div class="col-xs-11">
						<p>Winning Team, recipient of $25,000 implementation grant for project "Firm Foundation: Decreasing vulnerability with self-reliant urban design for riverfront housing"</p>
					</div>
				</div>
				<div class="clearfix"></div><hr>
				<div class="row">
					<div class="col-xs-8 col-sm-9">
						<h4><a href="https://web.archive.org/web/2023/http://designcorps.org/awards/2013-winners/" target="_blank" rel="noopener noreferrer">SEED Award</a></h4>
						<p>For Excellence in Public Interest Design, as presented by the SEED Network / Design Corps</p>
					</div>
					<div class="col-xs-4 col-sm-3">
						<h6>2013</h6>
						<h6 class="location">Minneapolis, MN</h6>
					</div>
				</div>
				<div class="clearfix"></div><hr>
				<div class="row">
						<div class="col-xs-12">
							<h4>MIT Department of Urban Studies &amp; Planning</h4>
							<ul>
								<li>Student Departmental Service Award, <small>2012</small></li>
								<li>Hebbert Award for Student Contribution to the Department, <small>2012</small></li>
								<li>Contribution to the Intellectual Life of the Department, <small>Honorable Mention 2012</small></li>
							</ul>
						</div>
						<div class="clearfix"></div><hr>
						<div class="col-xs-12">
							<h4>MIT Grants</h4>
							<ul>
								<li>Student Travel Grant, Aga Khan Program for Islamic Architecture, <small>Summer 2011</small></li>
								<li>Paul &amp; Priscilla Gray Internship Grant, <small>Summer 2011</small></li>
								<li>Public Service Center Fellow, <small>January 2011</small></li>
							</ul>
						</div>
						<div class="clearfix"></div><hr>
						<div class="col-xs-12">
							<h4>Georgia Tech Industrial Design Department</h4>
							<ul>
								<li>IDSA Student Merit Winner, <small>2009</small></li>
								<li>Design Scholar Award, <small>2009</small></li>
								<li>Design Citizen Award, <small>2007 &amp; 2008</small></li>
							</ul>
						</div>
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="resume-section col-md-3" id="exhibitions">
				<h2>Presentations &amp; Exhibitions</h2>
			</div>
			<div class="resume-section col-md-9">
				<div class="row">
					<div class="col-xs-8 col-sm-9">
						<h4><a href="https://www.labiennale.org/en/architecture/2025/artificial/atlas-popular-transport" target="_blank" rel="noopener noreferrer">La Biennale di Venezia</a></h4>
						<p>"First Bus Map of Dhaka" featured as part of the Atlas of Popular Transport by the Civic Data Design Lab (MIT)</p>
					</div>
					<div class="col-xs-4 col-sm-3">
						<h6>May-November 2025</h6>
						<h6 class="location">Venice, Italy</h6>
					</div>
				</div>
				<div class="clearfix"></div><hr>
				<div class="row">
					<div class="col-xs-8 col-sm-9">
						<h4><a href="http://www.youtube.com/watch?v=97rNLDh9czg" target="_blank" rel="noopener noreferrer">TEDxDhaka</a></h4>
						<p>“Making the First Bus Map of Dhaka," presented with Albert Ching</p>
					</div>
					<div class="col-xs-4 col-sm-3">
						<h6>October 2013</h6>
						<h6 class="location">Dhaka, Bangladesh</h6>
					</div>
				</div>
				<div class="clearfix"></div><hr>
				<div class="row">
					<div class="col-xs-8 col-sm-9">
						<h4><a href="https://web.archive.org/web/2023/http://www.impactdesignhub.org/2013/04/01/metropolis-magazine-covers-pid-week/" target="_blank" rel="noopener noreferrer">Public Interest Design Week</a></h4>
						<p>"Firm Foundation" presented as part of the PID Institute</p>
					</div>
					<div class="col-xs-4 col-sm-3">
						<h6>April 2013</h6>
						<h6 class="location">Minneapolis, MN</h6>
					</div>
				</div>
				<div class="clearfix"></div><hr>
				<div class="row">
					<div class="col-xs-8 col-sm-9">
						<h4>MIT Gender, Sexuality, &amp; Urban Spaces Conference</h4>
						<p>“Places and Spaces” mapping project examining the conference’s creative community</p>
					</div>
					<div class="col-xs-4 col-sm-3">
						<h6>March 2011</h6>
						<h6 class="location">Cambridge, MA</h6>
					</div>
				</div>
				<div class="clearfix"></div><hr>
				<div class="row">
					<div class="col-xs-8 col-sm-9">
						<h4>Bring to Light NYC</h4>
						<p>Participating artists in New York City’s first-ever Nuit Blanche arts festival</p>
					</div>
					<div class="col-xs-4 col-sm-3">
						<h6>October 2010</h6>
						<h6 class="location">Greenpoint, Brooklyn</h6>
					</div>
				</div>
				<div class="clearfix"></div><hr>
				<div class="row">
					<div class="col-xs-8 col-sm-9">
						<h4>Nonfashion People’s Fashion’s Night Out</h4>
						<p>Participating designer in exhibition of garments designed by anybody but fashion designers</p>
					</div>
					<div class="col-xs-4 col-sm-3">
						<h6>September 2010</h6>
						<h6 class="location">Partners &amp; Spade, New York, NY</h6>
					</div>
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="resume-section col-md-3" id="skills">
				<h2>Skills</h2>
			</div>
			<div class="resume-section col-md-9">
				<div class="row">
					<div class="col-xs-6 col-sm-4">
						<h6>Visual Design</h6>
						<ul>
							<li>Figma Design &amp; Make</li>
							<li>Illustrator</li>
							<li>Photoshop</li>
							<li>InDesign</li>
						</ul>
					</div>
					<div class="col-xs-6 col-sm-4">
						<h6>Cartography</h6>
						<ul>
							<li>QGIS</li>
							<li>Mapbox Studio</li>
							<li>Blender <small>(some exp.)</small></li>
						</ul>
					</div>
					<div class="clearfix visible-xs-block"></div>
					<div class="col-xs-12 visible-xs-block">
						<hr>
					</div>
					<div class="col-xs-6 col-sm-4">
						<h6>Code</h6>
						<ul>
							<li>Mapbox GL JS</li>
							<li>Frontend prototyping</li>
							<li>GitHub workflows</li>
						</ul>
					</div>
					<div class="col-sm-12">
						<hr>
					</div>
					<div class="col-xs-6 col-sm-4">
						<h6>User Experience</h6>
						<ul>
							<li>Field Research</li>
							<li>User Research</li>
							<li>Wireframing</li>
							<li>User Testing</li>
						</ul>
					</div>
					<div class="clearfix visible-xs-block"></div>
					<div class="col-xs-12 visible-xs-block">
						<hr>
					</div>
					<div class="col-xs-6 col-sm-4">
						<h6>Visual Representation</h6>
						<ul>
							<li>Sketching</li>
							<li>Diagramming</li>
							<li>Photography</li>
						</ul>
					</div>
					<div class="col-xs-6 col-sm-4">
						<h6>Prototyping</h6>
						<ul>
							<li>Screenprinting</li>
							<li>Concrete Casting</li>
							<li>Modelmaking</li>
							<li>Laser &amp; Vinyl Cutter</li>
						</ul>
					</div>
				</div>
				<!-- <div class="clearfix"></div><hr>
					<h4>Physical</h4>
					<p>Diagramatic representation, mapping, sketching, rendering, drafting; photography & ethnographic documentation; design research & strategy; model fabrication & prototyping; casting & vacuum forming; textile production; laser & vinyl cutting</p>
				<div class="clearfix"></div> -->
			</div>

		</div>

			<div class="clearfix"></div>

	</div> <!-- /container -->

	{% include footer.html %}

	</body>
</html>
