---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>

  <body>

	<div class="container">
		<div class="inner">
			<div class="masthead clearfix">
				<h4 class="masthead-brand"><a href="./">Stephen Kennedy</a></h4>
				<ul class="nav masthead-nav">
					<li><a href="./">Home</a></small></li>
					<li><a href="resume.html">Resume</a></small></li>
					<li><a href="mailto:stephenjameskennedy@gmail.com">Contact</a></small></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron" style="padding-top:0; padding-bottom:0;">
	  <div class="container">
		<img src="./img/wlud/main.jpg" alt="...">
	  </div>
	</div>

	<div id="portfolio" class="container">

		<div class="row">
			<div class="col-sm-4 col-md-3">
				<div class="col-xs-12 col-sm-12">
					<h1>Transit Oriented Stormwater Management</h1>
					<h4>Green infrastructure strategies for the former Mill Creek watershed</h4>
				</div>
				<div class="col-xs-4 col-sm-6 meta-entry">
					<h6>Project Date</h6>
					<h5>2012</h5>
				</div>
				<div class="col-xs-4 col-sm-6  meta-entry">
					<h6>Project Partner</h6>
					<h5>Ann-Ariel Vecchio</h5>
				</div> 
				<div class="col-xs-4 col-sm-6 meta-entry">
					<h6>Location</h6>
					<h5>West Philadelphia, PA</h5>
				</div>
				<div class="clearfix visible-xs-block"></div>
				<div class="col-xs-4 col-sm-6  meta-entry">
					<h6>Studio</h6>
					<h5>Water, Landscape, &amp; Urban Design</h5>
				</div>
				<div class="col-xs-4 col-sm-12  meta-entry">
					<h6>In collaboration with</h6>
					<h5>West Philadelphia Landscape Project</h5>
					<h5>Philadelphia Water Department</h5>
				</div>
			</div>

			<!-- Add the extra clearfix for only the required viewport -->
			<div class="clearfix visible-xs-block"></div>

			<div class="col-sm-8 col-md-9">
                <h3>Several neighborhoods of West Philadelphia are built on the buried floodplain of the former Mill Creek Watershed. The city is gearing up to become the exemplar of municipal stormwater management and is eager for new applications of green infrastructure.</h3>
				<div class="row">
					<div class="col-md-8">
                        <p>The Water, Landscape, &amp; Urban Design studio at MIT analyzed the hydrological, social, and physical conditions of these neighborhoods. Through these studies, we were able to develop new proposals for infrastructure with benefits beyond stormwater management.</p>
						<p>In addition to the natural hydrological system and built environment, several public transit lines cross through the project area. Transit stops define nodes that neighborhood residents use on a daily basis. Bus stops often coincide with the location of inlets at low points on many blocks.</p>
                        <div class="btn-group">
                            <a href="#research" class="btn btn-default" role="button">Contextual Research &amp; Mapping</a>
                            <a href="#design" class="btn btn-default" role="button">Stormwater Infrastructure Designs</a>
                        </div>
					</div>
					<div class="hidden-sm col-md-4">
                        <img src="./img/wlud/WLUD_context_01.jpg" alt="...">
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
		<hr id="research">

		<div class="row">
			<div class="col-sm-4 col-md-3">
				<h2>Contextual Research &amp; Mapping</h2>
				<h4>The neighborhood’s low-lying areas clearly illustrate the presence of Mill Creek’s buried flood plain.</h4>
                <p>These low points were most likely part of the Mill Creek bed, about 3/4 of a mile from the creek’s mouth at the Schuylkill River.</p>
			</div>
			<div class="col-sm-8 col-md-9">
                <img src="./img/wlud/WLUD_gallery_04.jpg" alt="...">
			</div>
            <div class="clearfix"><hr></div>
            <div class="col-sm-4 col-md-3">
                <h4>Calculating stream flows highlights the characteristics of the watershed.</h4>
                <p>Following these flows, it is evident that surface water in the neighborhood drains to the site's center along the sewer main</p>
                <p>This demonstrates that multiple sewersheds converged toward our original sewershed.</p>
            </div>
            <div class="col-sm-8 col-md-9">
                <img src="./img/wlud/WLUD_gallery_07.jpg" alt="...">
            </div>
            <div class="clearfix"><hr></div>
            <div class="col-sm-4 col-md-3">
                <h4>The high amount of impervious, or paved, surfaces in this area creates a large volume of water that flows directly into city sewers and, eventually, into the Schuylkill River.</h4>
                <p>However, this also indicates that the implementation of stormwater management BMPs has huge potential to reduce sewer overflow events.</p>
            </div>
            <div class="col-sm-8 col-md-9">
                <img src="./img/wlud/WLUD_gallery_01.jpg" alt="...">
            </div>
            <div class="clearfix"><hr></div>
            <div class="col-sm-4 col-md-3">
                <h4>Given that multiple transit lines and transportation corridors cross the project area, the opportunity emerges to combine best management practices for stormwater management with public and private transportation.</h4>
                <p>Furthermore, the fact that high volumes of commuter traffic flow along Market, Chestnut, and Walnut Streets every day makes BMPS along these routes highly visible.</p>
            </div>
            <div class="col-sm-8 col-md-9">
                <img src="./img/wlud/WLUD_gallery_16.jpg" alt="...">
            </div>
		</div>

        <div class="clearfix visible-md-block visible-lg-block"></div>
        <hr id="design">

        <div class="row">
            <div class="col-sm-4 col-md-3">
                <h2>Stormwater Infrastructure Designs</h2>
                <h4>BMPs can be incorporated into transportation infrastructure, can enhance public transit facilities, and can take advantage of large parking lot surfaces.</h4>
                <p><strong>Collecting run-off from the elevated rail line:</strong></p>
                <p>Each section of track contributes around 130 cubic feet of run-off during a 1” storm that is sent directly into the combined sewer system from downspouts in the track pylons. By disconnecting the track downspout at the base of each pylon, stormwater run-off can be diverted into adjacent cisterns with a capacity of 950 gallons - a volume that holds 90 percent of run-off from each section of track during a 1” storm.<p>
            </div>
            <div class="col-sm-8 col-md-9">
                <img src="./img/wlud/WLUD_design_03.png" alt="...">
                <img src="./img/wlud/WLUD_design_01.jpg" alt="...">
            </div>
            <div class="clearfix"><hr></div>
            <div class="col-sm-4 col-md-3">
                <p><strong>Public Transit Green Way:</strong></p>
                <p>Four bus lines cross the project area. Because most bus stops in the project area do not have shelters and coincide with low points and sewer inlets on many block corners, new shelters could be designed to divert or intercept run-off from streets and sidewalks before it flows into sewers. Green stormwater infrastructure along these highly trafficked routes would also be visible to many residents and can treat run-off from relatively wide streets.<p>
                <p>Stormwater stored in cisterns can then be diverted to adjacent planters, which filter out harmful particles picked up from the tracks.<p>
            </div>
            <div class="col-sm-8 col-md-9">
                <img src="./img/wlud/WLUD_design_02.jpg" alt="...">
            </div>
        </div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
		<hr>

		</div> <!-- /container -->

	{% include footer.html %}

	</body>
</html>
