---
---

<!DOCTYPE html>
<html lang="en">
	<head>
        {% include head.html %}
        <!-- <style>
            @media (max-width: 768px) { h1 {font-size: 28px !important;} }
            #portfolio h2 {margin-bottom: 0 !important;}
            #portfolio h4 {margin-bottom: 0 !important;}
        </style> -->
	</head>

  <body>

    {% include header.html %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-image:url('./img/uf-analyst/uf-analyst-hero.jpg');height: 360px; background-size: cover;background-position: right; ">
    </div>

    <div id="portfolio" class="container">

    	<div class="row">
    		<div class="col-md-5">
	      		<div class="row">
					<div class="col-xs-12 col-sm-12">
						<h1>UrbanFootprint Analyst</h1>
					</div>
		  			<div class="col-xs-3 meta-entry">
		  				<h6>Project Date</h6>
		  				<h5>2018 - present</h5>
		  			</div>
		  			<div class="col-xs-9 meta-entry">
		    			<h6>Role</h6>
		    			<h5>Produt Design/UX Lead</h5>
		  			</div>
	          	</div>
        	</div>

	        <!-- Add the extra clearfix for only the required viewport -->
			<div class="clearfix visible-xs-block"></div>

			<div class="col-md-7">
	        	<h3>Modernizing spatial analysis tools for urban planners and analysts.</h3>
	    	</div>
		</div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
        <hr>

	</div> <!-- /container -->

	{% include footer.html %}

	</body>
</html>