---
---

<!DOCTYPE html>
<html lang="en">
	<head>
        {% include head.html %}
        <style>
            @media (max-width: 768px) { h1 {font-size: 28px !important;} }
            #portfolio h2 {margin-bottom: 0 !important;}
            #portfolio h4 {margin-bottom: 0 !important;}
        </style>
	</head>

  <body>

    {% include header.html %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-image:url('./img/uf-maps/uf-maps-hero.jpg');height: 360px; background-size: cover;background-position: right; ">
    </div>

    <div id="portfolio" class="container">

    	<div class="row">
    		<div class="col-md-5">
	      		<div class="row">
					<div class="col-xs-12 col-sm-12">
						<h1>Cartographic Samples</h1>
					</div>
		  			<div class="col-xs-3 meta-entry">
		  				<h6>Project Date</h6>
		  				<h5>2018-present</h5>
		  			</div>
		  			<div class="col-xs-3 meta-entry">
		  				<h6>Organization</h6>
		  				<h5>UrbanFootprint</h5>
		  			</div>
		  			<div class="col-xs-6 meta-entry">
		  				<h6>Role</h6>
		  				<h5>Visual design and cartography</h5>
		  			</div>
	          	</div>
        	</div>

	        <!-- Add the extra clearfix for only the required viewport -->
			<div class="clearfix visible-xs-block"></div>

			<div class="col-md-7">
	        	<h3>A sampling of cartographic work for UrbanFootprint blog posts and marketing material, focused on showcasing how critical spatial data can inform key decisions in urban planning, disaster response, climate adaptation, and more.</h3>
	    	</div>
		</div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
		<hr id="portal">

		<div class="row">
			<div class="col-md-3">
				<h4>Map-of-the-Month</h4>
				<h2>Waterways and railroads often coincide.</h2>
				<p>Recent derailments have shown this can have major consequences. These maps highlight the overlap and remind us how important it is to invest in infrastructure to protect communities.</p>
                <h5><a href="https://twitter.com/UFPlatform/status/1648737222118584325?s=20" target="_blank" rel="noopener noreferrer">See tweet</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-sm-6"><img style="border: 1px solid #EEE;" src="./img/uf-maps/uf-mom-april-waterways-title.png" /></div>
					<div class="col-sm-6"><img src="./img/uf-maps/uf-mom-april-waterways-minneapolis.jpeg" /></div>
				</div>
				<div class="row">
					<div class="col-sm-6"><img src="./img/uf-maps/uf-mom-april-waterways-stlouis.jpeg" /></div>
					<div class="col-sm-6"><img src="./img/uf-maps/uf-mom-april-waterways-neworleans.jpeg" /></div>
				</div>
			</div>
		</div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
		<hr>

		<div class="row">
			<div class="col-sm-6 col-md-5">
				<h4>Map-of-the-Month</h4>
				<h2>Most of Columbus, Ohio's accessible EV charging stations are in majority White areas.</h2>
				<p>Can you spot the disparity in the locations of public EV charging stations in Columbus, Ohio? Access to clean transportation options should be available to all communities, regardless of race or socioeconomic status.</p>
				<p>Map showing access to EV charging stations by block group ratial plurality.</p>
                <h5><a href="https://twitter.com/UFPlatform/status/1636138320353714179?s=20" target="_blank" rel="noopener noreferrer">See tweet</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-sm-6">
				<img src="./img/uf-maps/uf-mom-march-ev-equity.jpg" />
			</div>
		</div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
		<hr>

		<div class="row">
			<div class="col-md-3">
				<h4>Blog</h4>
				<h2>Impacts of the East Palestine Train Derailment Mapped</h2>
				<h3>On February 3, 2023, a Norfolk Southern freight train carrying toxic chemicals derailed in East Palestine, Ohio.</h3>
				<p>The crashed caused significant damage to the environment and the local community, and its impacts oare likely to be far-reaching and felt for years to come.
				<p>These maps explore the context and shed light on two crucial points: First, the long-term impacts are likely being underestimated. Second, it is crucial to invest in rail infrastructure to address safety concerns, improve community resilience, and minimize the risk of similar or worse accidents from happening in the future.</p>
                <h5><a href="https://urbanfootprint.com/blog/transportation/east-palestine-impacts-mapped/" target="_blank" rel="noopener noreferrer">Full blog</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-md-9">
				<img src="./img/uf-maps/uf-train-overview.jpg" />
				<img src="./img/uf-maps/uf-train-3d-population.jpg" />
				<img src="./img/uf-maps/uf-train-critical-waterways.jpeg" />
			</div>
		</div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
		<hr>

		<div class="row">
			<div class="col-md-3">
				<h4>Blog</h4>
				<h2>Peeling the SB 50 Onion with UrbanFootprint</h2>
				<h3>SB 50 seeks to address California’s severe housing shortage. We examine the data to unpack the potential impacts.</h3>
				<p>Senate Bill 50 aims to address California’s housing crisis by stimulating more housing development in existing residential areas.</p>
				<p>These maps depict how SB 50's various layers might impact communities across the state's major counties, revealing the total residential land eligible under the highly nuanced provisions in the bill.</p>
                <h5><a href="https://medium.com/urbanfootprint/peeling-the-sb-50-onion-with-urbanfootprint-921680d988b4" target="_blank" rel="noopener noreferrer">Full blog</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-4"><p>Example of various impacts on residential parcels in the Los Angeles area.</p></div>
					<div class="col-md-8"><img src="./img/uf-maps/uf-sb50-legend.jpg" /></div>
				</div>
				<img src="./img/uf-maps/uf-sb50-sanfrancisco.jpg" />
				<img src="./img/uf-maps/uf-sb50-sandiego.jpg" />
			</div>
		</div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
		<hr>

		<div class="row">
			<div class="col-md-3">
				<h4>Blog</h4>
				<h2>Where Can Emergency Medical Capacity be Expanded Quickly in Response to COVID-19?</h2>
				<p>Selection of maps as part of an analysis of potential alternate care sites in Los Angeles where COVID caseloads were rising rapidly in early 2020.</p>
                <h5><a href="https://medium.com/urbanfootprint/where-can-emergency-medical-capacity-be-expanded-quickly-in-response-to-covid-19-3049cf3b1985" target="_blank" rel="noopener noreferrer">Full blog</a> <span class="glyphicon glyphicon-link"></span></h5>
			</div>
			<div class="col-md-9">
				<img src="./img/uf-maps/uf-covid-los-angeles-hospitals.jpg" />
				<img src="./img/uf-maps/uf-covid-los-angeles-overflow-sites.jpg" />
			</div>
		</div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
		<hr>

	</div> <!-- /container -->

	{% include footer.html %}

	</body>
</html>