---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>

  <body>

    <div class="container">
		<div class="inner">
			<div class="masthead clearfix">
			    <h4 class="masthead-brand"><a href="./">Stephen James Kennedy</a></h4>
			    <ul class="nav masthead-nav">
			        <li><a href="./">Home</a></small></li>
			        <li><a href="resume.html">Resume</a></small></li>
			        <li><a href="mailto:stephenjameskennedy@gmail.com">Contact</a></small></li>
			    </ul>
			</div>
		</div>
	</div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="padding-top:0; padding-bottom:0;">
      <div class="container">
        <img src="./img/urbano-ambiental/main.jpg" alt="...">
      </div>
    </div>

    <div id="portfolio" class="container">

    	<div class="row">
    		<div class="col-sm-4 col-md-3">
    			<div class="col-xs-12 col-sm-12">
			        <h1>Urban Environmental Axis</h1>
			        <h4>Multisectoral urban intervention along the Choluteca River</h4>
			    </div>
    			<div class="col-xs-4 col-sm-6 meta-entry">
    				<h6>Project Date</h6>
    				<h5>2014</h5>
    			</div>
    			<div class="col-xs-4 col-sm-6 meta-entry">
    				<h6>Location</h6>
    				<h5>Tegucigalpa, Honduras</h5>
    			</div>
    			<div class="col-xs-4 col-sm-6  meta-entry">
	    			<h6>Role</h6>
	    			<h5>Project Designer</h5>
    			</div>
    			<div class="clearfix visible-xs-block"></div>
    			<div class="col-xs-4 col-sm-6  meta-entry">
	    			<h6>Organization</h6>
	    			<h5>Inter-American Development Bank</h5>
    			</div>
	        </div>

	        <!-- Add the extra clearfix for only the required viewport -->
  			<div class="clearfix visible-xs-block"></div>

    		<div class="col-sm-8 col-md-9">
	          	<h3>The IDB has proposed a model of comprehensive and multisectoral intervention to articulate urban development solutions in Tegucigalpa, developing a vision for the city built on a commitment to long-term investment.</h3>
	          	<div class="row">
	          		<div class="col-sm-6">
	          			<p>The regeneration and urban densification the Comayagüela and Tegucigalpa urban centers builds on existing assets, environmentally, architecturally, and from socio-cultural heritage point of view.</p>
	          		</div>
	          		<div class="col-sm-6">
	          			<p>This regeneration also seeks to revive private investment in the historic center, promote public safety, and encourage the development of new businesses and services.</p>
	          		</div>
	          	</div>
	          	<div class="btn-group">
	          		<a href="#problems" class="btn btn-default" role="button">Sectoral Problems</a>
	          		<a href="#opportunities" class="btn btn-default" role="button">Opportunities for Action</a>
	          		<a href="#watershed" class="btn btn-default" role="button">Urban Watershed Recovery</a>
	          		<a href="#mobility" class="btn btn-default" role="button">Mobility &amp; Accessibility</a>
	          	</div>
	        </div>
    	</div>
      	
      	<div class="clearfix visible-md-block visible-lg-block"></div>
      	<hr id="problems">

    	<div class="row">
    		<div class="col-sm-4 col-md-3">
		        <h2>Sectoral Problems</h2>
		        <!-- <p>Costa de río olvidada / ciudad que le da la espalda al río urbano Choluteca. Río altamente contaminado</p> -->
			</div>
			<div class="col-sm-8 col-md-9">
				<div class="col-md-6">
					<div class="col-xs-6">
						<img src="./img/urbano-ambiental/problemas_01.jpg" alt="...">	
					</div>
					<div class="col-xs-6">
						<img src="./img/urbano-ambiental/problemas_02.jpg" alt="...">	
					</div>
					<div class="col-xs-6">
						<img src="./img/urbano-ambiental/problemas_03.jpg" alt="...">	
					</div>
					<div class="col-xs-6">
						<img src="./img/urbano-ambiental/problemas_04.jpg" alt="...">	
					</div>
					<div class="col-xs-6">
						<img src="./img/urbano-ambiental/problemas_05.jpg" alt="...">	
					</div>
					<div class="col-xs-6">
						<img src="./img/urbano-ambiental/problemas_06.jpg" alt="...">	
					</div>
				</div>
				<div class="col-md-6">
					<img src="./img/urbano-ambiental/problemas_00.jpg" alt="...">
				</div>
			</div>
		</div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
      	<hr id="opportunities">

    	<div class="row">
    		<div class="col-sm-4 col-md-3">
		        <h2>Opportunities for Action</h2>
		        <h4>The Urban Environmental Axis has significant resources and assets on which to build a comprehensive revitalization strategy.</h4>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/urbano-ambiental/oportunidades_00.jpg" alt="...">
				<!-- <div class="col-md-4">
					<h3>Asset &amp; opportunities</h3>
					<img src="./img/urbano-ambiental/oportunidades_02.png" alt="...">
				</div>
				<div class="col-md-8">
					<img src="./img/urbano-ambiental/oportunidades_01.jpg" alt="...">
				</div>	 -->
			</div>
    	</div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
      	<hr id="watershed">

    	<div class="row">
    		<div class="col-sm-4 col-md-3">
		        <h2>Urban Watershed Recovery</h2>
		        <h4>This green infrastructure proposal is the smart part of probabilistic climate model such as floods and proposes establishing environmental buffers.</h4>
	        	<h4>Simultaneously, a green corridor improves community interaction with the river and allows for the revitalization of urban areas in the basin.</h4>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/urbano-ambiental/watershed_00.jpg" alt="...">
				<div class="col-md-4">
					<h3>Watershed infrastructure</h3>
					<img src="./img/urbano-ambiental/watershed_02-infrastructure.jpg" alt="...">
				</div>
				<div class="col-md-8">
					<img src="./img/urbano-ambiental/watershed_01-infrastructure.jpg" alt="...">
				</div>			
				<img src="./img/urbano-ambiental/watershed_03.jpg" alt="...">
				<div class="col-md-4">
					<h3>Linear Park</h3>
					<img src="./img/urbano-ambiental/watershed_02-greenway.png" alt="...">
				</div>
				<div class="col-md-8">
					<img src="./img/urbano-ambiental/watershed_01-greenway.jpg" alt="...">
				</div>
			</div>
    	</div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
      	<hr id="mobility">

    	<div class="row">
    		<div class="col-sm-4 col-md-3">
		        <h2>Mobility &amp; Accessibility</h2>
				<p>Efficient mobility within and to the historic center will strengthen its role as a connector of the five structural axes of the city.</p>
				<p>The structuring of the BRT feeder routes, pedestrianization, and organized management of parking are essential for mobility in Choluteca.</p>
			</div>
			<div class="col-sm-8 col-md-9">
				<img src="./img/urbano-ambiental/mobility_00.jpg" alt="...">
				<div class="col-md-4">
					<h3>Circulation</h3>
					<img src="./img/urbano-ambiental/mobility_02.png" alt="...">
				</div>
				<div class="col-md-8">
					<img src="./img/urbano-ambiental/mobility_01.jpg" alt="...">
				</div>	
				<img src="./img/urbano-ambiental/mobility_03.jpg" alt="...">
			</div>
    	</div>

		<div class="clearfix visible-md-block visible-lg-block"></div>
      	<hr>

		</div> <!-- /container -->

	{% include footer.html %}

	</body>
</html>
