	<footer>

		<div id="foot" class="container-fluid text-center">
			<div id="foot-content">
				<h6 class="text-uppercase"><span class="iconic iconic-map-marker iconic-sm" title="map marker" aria-hidden="true"></span> Madison, WI</h6>
				<h5>Stephen James Kennedy</h5>
				<h6 class="text-uppercase">stephenjameskennedy@gmail.com</h6>
				<h6 class="social">
					<a href="https://dribbble.com/oh_sk" target="_blank">
						<span class="iconic iconic-social-dribbble iconic-sm" title="social dribbble" aria-hidden="true"></span>
					</a>
					<a href="https://instagram.com/ohsk/" target="_blank">
						<span class="iconic iconic-social-instagram iconic-sm" title="social instagram" aria-hidden="true"></span>
					</a>
					<a href="https://twitter.com/oh_sk" target="_blank">
						<span class="iconic iconic-social-twitter iconic-sm" title="social twitter" aria-hidden="true"></span>
					</a>
					<a href="https://www.linkedin.com/in/stephenjameskennedy" target="_blank">
						<span class="iconic iconic-social-linkedin iconic-sm" title="social linkedin" aria-hidden="true"></span>
					</a>
					<a href="https://github.com/ohsk" target="_blank">
						<span class="iconic iconic-social-github iconic-sm" title="social github" aria-hidden="true"></span>
					</a>
				</h6>
			</div>
		</div>

	</footer>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../../dist/js/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
